{#{%- for tab in tabs -%}#}

    {%- set layoutFields = tab.getFields() %}

    <section class="tab">

        {% if form.displaySectionTitles -%}
            <h3>{{ tab.name|t }}</h3>
        {%- endif %}

        {% for field in layoutFields -%}
            {% set inputHtml = craft.sproutForms.setFieldTemplatePathAndGetInputHtml(form, entry, field, renderingOptions) %}
            {% include 'sprout-forms/form-templates/accessible/field' with {
                form: form,
                entry: entry,
                field: field,
                input: inputHtml,
                renderingOptions: renderingOptions
            } %}
            {% do craft.sproutForms.setSiteTemplatePath() %}
        {%- endfor %}

    </section>

{#{%- endfor -%}#}