{% extends "sproutforms/_layout" %}

{% block content %}
	
	<h1>Output your form using a single tag.</h1>
	
	<p>Take a look at the code of this template to see an example with comments.</p>

	<hr> 

	{% if craft.request.getParam('message') == 'thank-you' %}

		{% set lastEntry = craft.sproutForms.lastEntry() %}

		{% if lastEntry %}
			
			<p>Thanks for sharing. Here are your answers:</p>
			
			<p>
				Full Name: {{ lastEntry.fullName }}<br/>
				Email: {{ lastEntry.email }}<br/>
				Message: {{ lastEntry.message }}<br/>
			</p>

		{% endif %}

	{% endif %}

	{{ craft.sproutForms.displayForm('contact') }}

{% endblock %}