{% extends "sproutforms/_layout" %}

{% block content %}
	
	<h1>Output your form using a single tag.</h1>
	
	<p>Take a look at the code of this template to see an example with comments.</p>

	<hr>

	{# Check if we should display or form or thank you message #}
	{% if craft.request.getParam('message') == 'thank-you' %}

		{# Display our thank you message #}
		<p>Thank you for your message. We'll be in touch soon!</p>

	{% else %}
	  
	  {# Display our Contact Form #}
	  {{ craft.sproutForms.displayForm('contact') }}

	{% endif %}

{% endblock %}