{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
	first: true,
	label: "Enable Notification"|t,
	id: 'notificationEnabled',
	name: 'notificationEnabled',
	on: form.notificationEnabled,
	onLabel: "Enable"|t,
	offLabel: "Disable"|t
}) }}

{{ forms.textField({
	label: 'Recipients <span class="info">A comma-delimited list of email addresses to notify when your form is submitted. All fields can use dynamic values from the submitted form fields. Reference your form fields by wrapping the field name in curly braces.  If your field is <strong><code>name="fields[email]"</code></strong> you would use: <strong><code>{email}</code></strong>.</span>'|t,
	name: 'notificationRecipients',
	value: form.notificationRecipients,
	errors: (form is defined ? form.getErrors('notificationRecipients') : null),
	first: true
}) }}

{{ forms.textField({
	label: 'Subject <span class="info">The subject line of your notification email.</span>'|t,
	name: 'notificationSubject',
	value: form.notificationSubject,
	errors: (form is defined ? form.getErrors('notificationSubject') : null)
}) }}

{{ forms.textField({
	label: 'Sender Name <span class="info">The name of the sender of your notification email. Consider the deliverability implications before you dynamically change your <strong>Sender Name</strong>.</span>'|t,
	name: 'notificationSenderName',
	value: form.notificationSenderName,
	errors: (form is defined ? form.getErrors('notificationSenderName') : null)
}) }}

{{ forms.textField({
	label: 'From Address <span class="info">The "From" email address of your notification email. Consider the deliverability implications before you dynamically change your <strong>Sender Email Address</strong>.</span>'|t,
	name: 'notificationSenderEmail',
	value: form.notificationSenderEmail,
	errors: (form is defined ? form.getErrors('notificationSenderEmail') : null)
}) }}

{{ forms.textField({
	label: 'Reply To <span class="info">The "Reply To" email address of your notification email</span>'|t,
	name: 'notificationReplyToEmail',
	value: form.notificationReplyToEmail,
	errors: (form is defined ? form.getErrors('notificationReplyToEmail') : null)
}) }}

{{ forms.lightswitchField({
	first: true,
	label: 'Enable File Attachments <span class="info">All files submitted with your form will be attached to the notification email</span>'|t,
	id: 'enableFileAttachments',
	name: 'enableFileAttachments',
	on: form.enableFileAttachments,
	onLabel: "Enable"|t,
	offLabel: "Disable"|t
}) }}
