{{ forms.lightswitchField({
	first: true,
	label: "Enable Notification"|t,
	id: 'notificationEnabled',
	name: 'notificationEnabled',
	on: form.notificationEnabled,
	onLabel: "Enable"|t,
	offLabel: "Disable"|t
}) }}

{{ forms.textField({
	label: 'Email Recipients <span class="info">All fields can use dynamic values from the submitted form fields. Reference your form fields by wrapping the field name in curly braces.  If your field is <strong><code>name="fields[email]"</code></strong> you would use: <strong><code>{email}</code></strong>.</span>'|t,
	instructions: "A comma-delimited list of email addresses to notify when your form is submitted."|t,
	name: 'notificationRecipients',
	value: form.notificationRecipients,
	errors: (form is defined ? form.getErrors('notificationRecipients') : null),
	translatable: true,
	first: true
}) }}

{{ forms.textField({
	label: "Subject"|t,
	instructions: "The subject line of your notification email."|t,
	name: 'notificationSubject',
	value: form.notificationSubject,
	errors: (form is defined ? form.getErrors('notificationSubject') : null),
	translatable: true,
}) }}

{{ forms.textField({
	label: "Sender Name <span class='info'>Consider the deliverability implications before you dynamically change your <strong>Sender Name</strong>.</span>"|t,
	instructions: "The name of the sender of your notification email"|t,
	name: 'notificationSenderName',
	value: form.notificationSenderName,
	errors: (form is defined ? form.getErrors('notificationSenderName') : null),
	translatable: true,
}) }}

{{ forms.textField({
	label: "Sender Email Address <span class='info'>Consider the deliverability implications before you dynamically change your <strong>Sender Email Address</strong>.</span>"|t,
	instructions: "The 'From' email address of your notification email"|t,
	name: 'notificationSenderEmail',
	value: form.notificationSenderEmail,
	errors: (form is defined ? form.getErrors('notificationSenderEmail') : null),
	translatable: true,
}) }}

{{ forms.textField({
	label: "Reply To Email Address"|t,
	instructions: "The 'Reply To' email address of your notification email"|t,
	name: 'notificationReplyToEmail',
	value: form.notificationReplyToEmail,
	errors: (form is defined ? form.getErrors('notificationReplyToEmail') : null),
	translatable: true,
}) }}

{{ forms.lightswitchField({
	first: true,
	label: "Enable File Attachments"|t,
	instructions: "All files submitted with your form will be attached to the notification email"|t,
	id: 'enableFileAttachments',
	name: 'enableFileAttachments',
	on: form.enableFileAttachments,
	onLabel: "Enable"|t,
	offLabel: "Disable"|t
}) }}
