<div id="tab-notifications" class="hidden">
	{% if form is defined %}
		<form method="post" action="" accept-charset="UTF-8">
			<input type="hidden" name="action" value="sproutForms/forms/updateNotifications">
			<input type="hidden" name="redirect" value="sproutforms/edit/{{ form is defined ? form.id : '' }}">
			<input type="hidden" name="formId" value="{{ form is defined ? form.id : '' }}">
			{{ forms.textField({
				label: "Notification Emails"|t,
				instructions: "Enter comma seperated email addresses to notify on form submission.  Leave blank to disable notifications."|t,
				name: 'email_distribution_list',
				value: form.email_distribution_list,
				errors: (form is defined ? form.getErrors('email_distribution_list') : null),
				translatable: true,
				first: true
			}) }}	
			
			{{ forms.textField({
				label: "Subject"|t,
				instructions: "Enter a subject.  You can also use Twig variables matching your form fields.  For example, if you have a field handle named 'userName', you can enter it as {{ entry.userName }}."|t,
				name: 'notification_subject',
				value: form.notification_subject,
				errors: (form is defined ? form.getErrors('notification_subject') : null),
				translatable: true,
			}) }}
			
			{{ forms.textField({
				label: "Reply To"|t,
				instructions: "Enter a replyTo field.  .  You can also use Twig variables matching your form fields.  For example, if you have a field handle named 'userEmail', you can enter it as {{ entry.userEmail }}."|t,
				name: 'notification_reply_to',
				value: form.notification_reply_to,
				errors: (form is defined ? form.getErrors('notification_reply_to') : null),
				translatable: true,
			}) }}		
				
			<hr>
	
			<div class="buttons">
				<input class="btn submit" type="submit" value="Submit" />
				<input type="button" class="btn delete" value="Cancel" onclick="history.back()" />
			</div>
			
			</form>
	{% endif %}
</div>