{% requirePermission "editSproutFormsSettings" %}

{% import "_includes/forms" as forms %}

{% set captchas = craft.sproutForms.getAllCaptchas() %}

{% for captcha in captchas %}

    {{ forms.lightswitchField({
        label: captcha.getName(),
        instructions: "By default, Sprout Forms will have a basic spam protection"|t,
        id: 'enableCaptchas',
        name: 'enableCaptchas',
        toggle: 'settings-' ~ captcha.captchaId,
        on: settings.enableCaptchas,
        onLabel: "Enable"|t,
    }) }}

    {% if captcha.getCaptchaSettingsHtml()|length %}
    <div id="settings-{{ captcha.captchaId }}">
        {{ captcha.getCaptchaSettingsHtml()|raw }}<br>
    </div>
    {% endif %}
{% endfor %}