{% requirePermission "editSproutFormsSettings" %}

{% import "_includes/forms" as forms %}

{% set captchas = craft.sproutForms.getAllCaptchas() %}
{% for captcha in captchas %}

    {% set isEnabled = settings['captchaSettings'][captcha.getCaptchaId()] ?? false %}
    
    {{ forms.lightswitchField({
        label: captcha.getName(),
        name: 'captchaSettings[' ~ captcha.getCaptchaId() ~ ']',
        toggle: captcha.getCaptchaId(),
        on: isEnabled,
        onLabel: "Enable"|t,
    }) }}

    {% if captcha.getCaptchaSettingsHtml()|length %}
        <div id="{{ captcha.getCaptchaId() }}" class="{{ not isEnabled ? "hidden" : '' }}">
            {{ captcha.getCaptchaSettingsHtml()|raw }}
        </div>
    {% endif %}

{% endfor %}
