{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\cp\\CpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assets\\landing\\LandingAsset") %}

{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutforms/web/assets/cp/dist', true) -%}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-forms') : 'https://plugins.craftcms.com/sprout-forms' %}

<div class="sprout-landing">

    {{ sprout.featureHeader({
        heading: "Unlimited Forms. Unlimited Freedom."|t('sprout-forms'),
        message: "Sprout Forms [pro] gives you the freedom to create as many forms as you need &mdash; professional contact forms, landing pages, applications, CRM and email marketing integrations, and more."|t('sprout-forms'),
        primaryButtonText: "Upgrade Now"|t('sprout-forms'),
        primaryButtonLink: pluginStoreLink,
        secondaryButtonText: "Learn More"|t('sprout-forms'),
        secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/forms"
    }) }}

    {{ sprout.featureImage({
        imageUrl: assetUrl ~ '/images/feature-formbuilder-toboldlygo.png',
        altText: 'Sprout Forms Form Builder for Craft CMS'|t('sprout-forms')
    }) }}

</div>