{% set options = field.options %}

{% if not field.options|length %}
    {% set options = [
        { label : "Option One", default: 1 },
        { label : "Option Two", default: 0 },
        { label : "Option Three", default: 0 }
] %}
{% endif %}

<ul>
    {% for option in options %}
        <li>
            <label>
                {% set checkedStatus = option.default ? 'checked' : null %}
                <input type="checkbox" name="checkboxesexample[]" {{ checkedStatus }} readonly disabled> {{ option.label }}
            </label>
        </li>
    {% endfor %}
</ul>