
{% if settings.limit is defined and settings.limit > 1 %}
	{% set name     = name ~ '[]' %}
	{% set multiple = true %}
{% endif %}

{% set id    = renderingOptions.id is defined ? renderingOptions.id : name %}
{% set class = renderingOptions.class is defined ? renderingOptions.class : 'sproutforms-field' %}

<input type="file"
	{{ if multiple is defined ? 'multiple' }}
	{% if field.required is defined and field.required %} required {% endif %}
	{%- if id is defined %} id="{{ id }}"{% endif %}
	{%- if class is defined %} class="{{ class }}"{% endif %}
	{%- if name is defined %} name="{{ name }}"{% endif %}
	{%- if disabled is defined and disabled %} disabled{% endif %}>
