{% extends "sproutforms/_layout" %}

{% block content %}	

	<h2>Intermediate</h2>
	
	<p>This example shows how to build a form using single tag fields.</p>
	
	<hr/>
	
  {% if errors is defined and errors.all %} 
  	<ul class="errors">
  	{% for error in errors.all %}
  		<li class="error">{{ error }}</li>
  	{% endfor %}
  	</ul>
  {% endif %}

	<form method="post" action="" accept-charset="UTF-8">	
	    
		{# Required: Our Sprout form action will always be sproutForms/entries/saveEntry #}
    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">

    {# Required: Our Form Handle tells our form where to send our data #}
    <input type="hidden" name="handle" value="contact">

    {# Optional: 
    	 The page/url to which the user should be redirected upon form submission
    	 By default, the user will be redirected back to the same page. #}
    <input type="hidden" name="redirect" value="sproutforms/field-by-field-details">
    
    {# Field Output: Option 1
    	 Output individual fields using the displayField() tag #}
	  {{ craft.sproutForms.displayField('contact.fullName') }}
		
		{{ craft.sproutForms.displayField('contact.email') }}

		{{ craft.sproutForms.displayField('contact.message') }}
			   			
		<p><input type="submit" value="Submit"></p>

	</form>
	
{% endblock %}