{%- set sett    = settings -%}
{%- set opts    = renderingOptions is defined ? renderingOptions : {} -%}
{%- set class   = opts.class is defined ? opts.class : 'radiobutton' %}
{%- set data    = (opts.data is defined ? opts.data : null) %}
{%- set radioValue   = (value is defined ? value : null) %}
{%- set options = (sett.options is defined ? sett.options : []) %}
<div class="radiobutton-select{% if class is defined %} {{ class }} {% endif %}">
	{%- for key, option in options %}
		{%- set label = (option.label is defined ? option.label : option) %}
		{%- set value = (option.value is defined ? option.value : key) -%}
		{%- set checked = value == radioValue %}

		<label>
			<input type="radio" value="{{ value }}"
				{% if field.required is defined and field.required %} required {% endif %}
				{%- if id is defined %} id="{{ id }}"{% endif %}
				{%- if class is defined %} class="{{ class }}"{% endif %}
				{%- if name is defined %} name="{{ name }}"{% endif %}
				{%- if checked is defined and checked %} checked{% endif %}
				{%- if disabled is defined and disabled %} disabled{% endif %}
				{% for key,value in data %}
					{{ 'data-'~key~'='~value }}
				{% endfor %}>
			{% if label is defined %}{{ label|raw }}{% endif %}
		</label>
	{% endfor %}
</div>
