{%- set id = renderingOptions.id ?? name %}
{%- set class = renderingOptions.class ?? name %}
{%- set required = field.required ? true : false %}
{%- set hasInstructions = field.instructions ? true : false %}
{%- set value = value ? value : null %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

<div class="{{ name }}-wrapper"
        {%- if id %} id="{{ id }}"{% endif %}
        {%- if class %} class="{{ class }}"{% endif %}
        {{- dataAttributes|raw -}}>

    {% if field.displayMultipleFields %}

        {% if field.displayPrefix %}
            <div class="sproutaddressfield-input sproutaddressfield-input-prefix">
                <label>{{ "Prefix"|t('sprout-fields') }}</label>
                <input type="text"
                       name="{{ name ~ '[address][prefix]' }}"
                >
            </div>
        {% endif %}

        <div class="sproutaddressfield-input sproutaddressfield-input-firstname">
            <label>{{ "First"|t('sprout-fields') }}</label>
            <input type="text" autocomplete="given-name"
                   name="{{ name ~ '[address][firstName]' }}"
            >
        </div>

        {% if field.displayMiddleName %}
            <div class="sproutaddressfield-input sproutaddressfield-input-middlename">
                <label>{{ "Middle"|t('sprout-fields') }}</label>
                <input type="text" autocomplete="additional-name"
                       name="{{ name ~ '[address][middleName]' }}"
                >
            </div>
        {% endif %}

        <div class="sproutaddressfield-input sproutaddressfield-input-lastname">
            <label>{{ "Last"|t('sprout-fields') }}</label>
            <input type="text" autocomplete="family-name"
                   name="{{ name ~ '[address][lastName]' }}"
            >
        </div>

        {% if field.displaySuffix %}
            <div class="sproutaddressfield-input sproutaddressfield-input-suffix">
                <label>{{ "Suffix"|t('sprout-fields') }}</label>
                <input type="text"
                       name="{{ name ~ '[address][suffix]' }}"
                >
            </div>
        {% endif %}

    {% else %}

        <input type="text" autocomplete="name"
               name="{{ name ~ '[address][fullNameShort]' }}">

        {#value.getFullName()#}

    {% endif %}
</div>