{% extends "sprout-base/_layouts/baselanding" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set title = "Welcome to Sprout Forms"|t('sprout-forms') %}
{% set bodyClass = 'sprout-landing-page' %}
{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutforms/web/assets/cp/dist', true) -%}

{% block content %}

    <div class="sprout-landing">

        {{ parent() }}

        {{ sprout.featureHeader({
            heading: "Simple, Beautiful Forms. 100% control."|t('sprout-forms'),
            message: "Sprout Forms makes it easy for content authors to manage complex forms while also giving a wonderful amount of control to designers and developers."|t('sprout-forms'),
            primaryButtonText: "Get Started"|t('sprout-forms'),
            primaryButtonLink: cpUrl('sprout-forms/forms'),
            secondaryButtonText: "Read the Docs"|t('sprout-forms'),
            secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/forms"
        }) }}

        {{ sprout.featureImage({
            imageUrl: assetUrl ~ '/images/feature-formbuilder-toboldlygo.png',
            altText: 'Sprout Forms Form Builder for Craft CMS'|t('sprout-forms')
        }) }}

    </div>
{% endblock %}