{% if entries|length %}
	<table class="data fullwidth collapsible">
		<tbody>
			{% for entry in entries %}
				<tr>
					{% if settings.form == 0 -%}<td data-title="{{ 'Form'|t }}">{{ entry.formName }}</td>{% endif %}
					<td data-title="{{ 'Entry'|t }}">
						{% if currentUser.can('accessPlugin-SproutForms') -%}
							<a href="{{ entry.getCpEditUrl() }}" title="{{ 'Edit entry'|t }}">{{ entry.title }}</a>
						{% else -%}
							{{ entry.title }}
						{% endif %}
						<span class="light">{{ entry.dateCreated|date('j/n/Y') }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>{{ 'No recent entries available.'|t }}</p>
{% endif %}
