{% import "_includes/forms" as forms %}

{% set options = field.options %}

{% if not field.options|length %}
    {% set options = [
        { label : "Option One", default: 1 },
        { label : "Option Two", default: 0 },
        { label : "Option Three", default: 0 }
] %}
{% endif %}

<ul>
    {% for option in options %}
        <li>
            <label>
                {% set checkedStatus = option.default ? true : false %}

                {{ forms.checkbox({
                    name: 'checkboxes',
                    label: option.label,
                    checked: checkedStatus,
                    readonly: true,
                    disabled: true
                }) }}
            </label>
        </li>
    {% endfor %}
</ul>