{%- set submitValue = (form.submitButtonText ? form.submitButtonText : "Submit") -%}
{%- set submitAction = (form.submitAction ? form.submitAction : "sproutForms/entries/saveEntry") -%}

{% if form.submitAction %}

{# Submit form to third party #}
<form action="{{ submitAction }}" method="post" accept-charset="UTF-8">

{% else %}

{# Submit form to Sprout Forms #}
<form method="post" accept-charset="UTF-8">
	<input type="hidden" name="action" value="{{ submitAction }}">
	<input type="hidden" name="handle" value="{{ form.handle }}">

{% endif %}
	
	{% if form.redirectUri %}
	<input type="hidden" name="redirect" value="{{ form.redirectUri }}">
	{% endif %}

	{# <div class="fields"> #}
	{{ body | raw }}
	{# </div> #}
	
	<div class="submit">
		<input type="submit" value="{{ submitValue }}">
	</div>

</form>