{% for tab in tabs %}

	{% set fields = tab.getFields() %}

	<div class="tab">

		{% if displaySectionTitles %}
			<h3>{{ tab.name }}</h3>
		{% endif %}

		{% for field in fields %}
			{% set type      = field.getField().type %}
			{% set required  = field.required %}
			{% set formField = craft.sproutForms.getRegisteredField(type) %}

			{% if formField %}
				{% include "field" with {
					field:                field.getField(),
					element:              entry,
					required:             required,
					formField:            formField,
					renderingOptions:     renderingOptions,
					thirdPartySubmission: thirdPartySubmission,
				} only %}
			{% else %}
				<!-- Sprout Forms Log -->
				<!-- The {{ type }} field type is not supported on the front end -->
				<!-- Review the Sprout Forms Field API to see how you can add support -->
			{% endif %}
		{% endfor %}

	</div>

{% endfor %}
