{% for tab in tabs %}

	{% set fields = tab.getFields() %}

	<div class="tab">

		{% if displaySectionTitles %}
			<h3>{{ tab.name }}</h3>
		{% endif %}

		{% for field in fields %}

			{% if field.getField().type == 'PlainText' %}
				{% set type      = field.getField().type %}
				{% set required  = field.required %}
				{% set formField = craft.sproutForms.getRegisteredField(field.getField().type) %}

				{% include "field" with {
					field:                field.getField(),
					element:              entry,
					required:             required,
					formField:            formField,
					renderingOptions:     renderingOptions,
					thirdPartySubmission: thirdPartySubmission,
				} only %}
			{% endif %}

		{% endfor %}

	</div>

{% endfor %}
