{% import "forms" as forms %}

{%- set options = (options is defined ? options : []) %}
{%- set values = (values is defined ? values : []) -%}
{%- set fieldSettings = attribute(renderingOptions.fields, name) is defined ? attribute(renderingOptions.fields, name) : null %}
<div class="checkbox-select{% if class is defined %} {{ class }}{% endif %} {% if fieldSettings.class is defined %} {{fieldSettings.class}} {% endif %}">
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		{%- set config = {
			id: name,
			label:    optionLabel,
			name:     (name is defined ? name~'[]' : null),
			value:    optionValue,
			field: field,
			checked:  (optionValue in values),
			fieldSettings: fieldSettings,
		} %}
		<div>
			{{ forms.checkbox(config) }}
		</div>

	{% endfor %}
</div>
