{% import "_macros/forms" as forms %}

{# Setup our field #}
{{ forms.text({
	id: name,
  name: name,
  value: (value is defined) ? value : ''
}) }}

{# <span class="sprout-email-button {{ id }}"></span> #}
<span class="sprout-email-button"></span>

{# Add our CSS and Javascript #}
{# {% includeCssResource "sproutemailfield/css/email.css" %} #}
{# {% includeJsResource "sproutemailfield/js/email.js" %} #}

{# 
{% set myJs %}

(function() {
	checkSproutEmailField("{{ id }}");
})();

$('input.{{ id }}').on('input', function () {
	checkSproutEmailField("{{ id }}");
});

{% endset %}

{% includeJs myJs %}
#}