{% extends "sproutforms/_layout" %}

{% block content %}	
	
	<h2>Multiple Forms</h2>

	<p>** <em>This example will show how to include multiple forms on one page, however, this example currently needs to be improved.</em></p>

	<hr/>
	

	<h2>Contact Form</h2>

    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    INSTANTIATION
    Get an instance of the 'example' form.
    ~ #}
    {% set contactForm = craft.sproutForms.getFormFields('contact') %}
    
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Errors can also be accessed through the errors object
    ~ #}
    {% if contact.errors.all is defined %}
    <div class="all-errors">
            {% for error in contact.errors.all %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
    </div>
    {% endif %}

	<form method="post" action="" accept-charset="UTF-8">	
    
		{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		HIDDEN FORM FIELDS
		These hidden fields must be present in every form.
		action: This will always be sproutForms/entries/saveEntry
		redirect: The page/url to which the user should be redirected upon form submission
		handle: Form handle, as defined in the form settings section in the admin panel
		~ #}
	    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	    <input type="hidden" name="redirect" value="sproutforms">
	    <input type="hidden" name="handle" value="contact">	    
	    
		
		<div class="field">
			<div class="header">
				<label>{{ contactForm.fullName.label }}</label>
				{% if contactForm.fullName.instructions %}
				<p>{{ contactForm.fullName.instructions }}</p>
				{% endif %}
			</div>
			<div class="body">
				{{ contactForm.fullName.input }}
			</div>
			<div class="error">
				{# Output a single, field-specific error #}
				{% if contact.errors is defined and contact.errors.fullName %}
					<ul class="errors">
					{% for error in contact.errors.fullName %}
						<li class="error">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %} 
			</div>	
		</div>
		
		<div class="field">
			<div class="header">
				<label>{{ contactForm.email.label }}</label>
				{% if contactForm.email.instructions %}
				<p>{{ contactForm.email.instructions }}</p>
				{% endif %}
			</div>
			<div class="body">
				{{ contactForm.email.input }}
			</div>
			<div class="error">
				{# Output multiple field-specific errors #}		
				{% if contact.errors is defined and contact.errors.email %}
					<ul class="errors">
					{% for error in contact.errors.email %}
						<li class="error">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}  
			</div>
		</div>

		<div class="field">
			<div class="header">
				<label>{{ contactForm.message.label }}</label>
				{% if contactForm.message.instructions %}
				<p>{{ contactForm.message.instructions }}</p>
				{% endif %}
			</div>
			<div class="body">
				{{ contactForm.message.input }}
			</div>
			<div class="error">
				{# Output multiple field-specific errors #}
				{% if contact.errors is defined and contact.errors.message %}
					<ul class="errors">
					{% for error in contact.errors.message %}
						<li class="error">{{ error }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
 			
		<p><input type="submit" value="Submit"></p>

	</form>

	<hr/>
	
	<h2>Mailing List Form</h2>

   {{ craft.sproutForms.displayForm('mailingList') }}

{% endblock %}