<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <title>{{ "Basic Fields Form"|t('sprout-forms') }}</title>
</head>
<body>
{{ craft.sproutForms.displayForm('basicFieldsForm') }}
</body>
</html>