{% requirePermission "sproutForms-viewEntries" %}

{% extends "sprout-forms/_layouts/elementindex" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set title = "Entries"|t %}
{% set elementType = 'barrelstrength\\sproutforms\\elements\\Entry' %}
{% set isPro = craft.app.getModule('sprout-forms').is('pro') %}

{% do view.registerAssetBundle("barrelstrength\\sproutforms\\web\\assets\\cp\\SproutEntriesIndexAsset") %}

{% block actionButton %}
    {% if not isPro %}
        <div class="buttons">
            {{ sprout.upgradeToProButton({
                url: cpUrl('sprout-forms/upgrade'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout-forms')
            }) }}
        </div>
    {% endif %}
{% endblock %}