{% if craft.request.getSegment(3) == 'new' %}

	<p>Please create your form to add fields.</p>
	
{% else %}

	{% if fields is defined and fields|length %}
		<table id="formFields" data-formid="{{ form.id }}" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<th scope="col">{{ "Type"|t }}</th>
				<td class="thin"></td>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for field in fields %}

					{% set required = field.required %}
					{% set field = field.getField() %}

					<tr class="field" data-id="{{ field.id }}" data-name="{{ field.name|t }}" data-fieldlayout="Default">
						<th scope="row" data-title="{{ 'Name'|t }}">
							<a href="{{ url('sproutforms/forms/' ~ formId ~ '/fields/edit/' ~ field.id) }}">{{ field.name|t }}</a>
							{%- if required %} <span class="required"></span>{% endif -%}
						</th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ field.handle }}</code></td>
						<td data-title="{{ 'Type'|t }}">
							{% set fieldType = field.getFieldType() %}
							{% if fieldType %}
								{{ fieldType.name }}
							{% else %}
								<span class="error">{{ field.type }}</span>
							{% endif %}
						</td>
						<td class="thin"><a class="move icon" title="Reorder" role="button"></a></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		 <p>Add your first field.</p>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('sproutforms/forms/' ~ form.id ~ '/fields/new') }}" class="submit btn add icon">New Field</a>
		<a id="newSection" data-action="newSection" class="btn add icon">New Section</a>
	</div>

{% endif %}

{% includeJsResource "sproutforms/js/formfields.js" %}