{% extends "sproutforms/_layouts/base" %}

{% set title = form.name ~ " Layout" %}

{% block main %}
	
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="sproutForms/forms/saveFormLayout">
		<input type="hidden" name="redirect" value="sproutforms/forms">
  	<input type="hidden" name="id" value="{{ form.id is defined ? form.id : '' }}">
		
		{% include "sproutforms/forms/fields/_fieldlayoutdesigner" with {
			fieldLayout: form.getFieldLayout(),
		} only %}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>

{% endblock %}