{% import "_includes/forms" as forms %}

<div class="sproutform-exampleinput-hidden">

    {{ forms.text({
        readonly: true,
        disabled: true
    }) }}

    <p>
        <i class="fa fa-user-secret fa-lg"></i> {{ "This field will not be visible in your form, but can be seen in the source code."|t('sprout-forms') }}
    </p>

</div>