{%- set opts  = renderingOptions is defined ? renderingOptions : {} -%}
{%- set data  = opts.data is defined ? opts.data : {} %}
{%- set class = opts.class is defined ? opts.class : 'sproutforms-text' %}

{% if settings.multiline is defined and settings.multiline %}
	<textarea
		id="{{ opts.id is defined ? opts.id : name }}"
		name="{{ name }}"
		class="{{ class }}"
		rows="{{ settings.initialRows is defined ? settings.initialRows : 10 }}"
		{% for key,dataValue in data %}
			{{ 'data-'~key~'='~dataValue }}
		{% endfor %}
		{% if settings.placeholder is defined and settings.placeholder is not empty %}placeholder="{{ settings.placeholder }}"{% endif %}
		>{{ value }}
	</textarea>
{% else %}
		<input
			id="{{ opts.id is defined ? opts.id : name }}"
			name="{{ name}}"
			type="{{ opts.type is defined ? opts.type : 'text' }}"
			class="{{ class }}"
			{{ field.required is defined and field.required ? 'required' }}
			{%- if value is defined and value %} value="{{ value }}"{% endif %}
			{% for key, dataValue in data %}
				{{ 'data-'~key~'='~dataValue }}
			{% endfor %}
			/>
{% endif %}
