{%- set sett  = settings -%}
{%- set opts  = renderingOptions is defined ? renderingOptions : {} -%}
{%- set data  = (opts.data is defined ? opts.data : null) %}
{%- set class = opts.class is defined ? opts.class : 'sproutforms-text' %}
{% if sett.miltiline is defined and sett.multiline %}
	<textarea
		id="{{ opts.id is defined ? opts.id : name }}"
		name="{{ name }}"
		class="{{ class }}"
		rows="{{ sett.initialRows is defined ? sett.initialRows : 10 }}"
		{% for key,dataValue in data %}
			{{ 'data-'~key~'='~dataValue }}
		{% endfor %}
		{% if sett.placeholder is defined %}placeholder="{{ sett.placeholder }}"{% endif %}
		>{{ value }}
	</textarea>
{% else %}
		<input
			name="{{ name}}"
			type="{{ opts.type is defined ? opts.type : 'text' }}"
			{{ field.required is defined and field.required ? 'required' }}
			class="{{ class }}"
			id="{{ opts.id is defined ? opts.id : name }}"
			{%- if value is defined and value %} value="{{ value }}"{% endif %}
			{% for key,dataValue in data %}
				{{ 'data-'~key~'='~dataValue }}
			{% endfor %}
			/>
{% endif %}
