<style type="text/css">
    code.example,
    input.example {
        color: #666;
    }
</style>

<h2 style="margin:0;">
    {{ "Publish your form"|t('sprout-forms') }}

    <span class="info">

        <p><strong>{{ "One line of code"|t('sprout-forms') }}</strong></p>

        {% if craft.app.request.getSegment(3) == 'new' %}

            <code class="example">
                {% verbatim %}{{{% endverbatim %}
                craft.sproutForms.displayForm('<b>{{ "yourFormHandle"|t('sprout-forms') }}</b>')
                {% verbatim %}}}{% endverbatim %}
            </code>

        {% else %}

            <code class="example">
                {% verbatim %}{{{% endverbatim %}
                craft.sproutForms.displayForm('<b>{{ form.handle }}</b>')
                {% verbatim %}}}{% endverbatim %}
            </code>

        {% endif %}

        <p><strong>{{ "100% Control"|t('sprout-forms') }}</strong></p>

        <p>{{ 'See the Sprout Forms documentation for an example of how to <a href="{url}" target="_blank">publish your form with Custom HTML</a>.'|t('sprout-forms', {
                url: 'http://sprout.barrelstrengthdesign.com/craft-plugins/forms/docs/examples/custom-html'
            }) }}</p>

    </span>
</h2>