{% import "_includes/forms" as forms %}
{% import "sprout-forms/_includes/formbuilder" as formBuilder %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}

{% set fieldTypes = craft.sproutForms.getRegisteredFields() %}
{% set fieldTypesByGroup = craft.sproutForms.getRegisteredFieldsByGroup() %}
{% set customFields =  craft.sproutForms.getCustomFields(fieldTypes, fieldTypesByGroup) %}

<div id="sproutforms-source-fields">
    <div id='right-copy'>
        {% for name,group in fieldTypesByGroup %}
            <h6 class="tab-title donotdrag">{{ name }}</h6>
            {% for type in group %}
                {% set field = fieldTypes[type] %}
                {{ formBuilder.field(field, 'source', null, loop.index) }}
            {% endfor %}
        {% endfor %}

        {% if customFields %}
            <h6 class="tab-title donotdrag">{{ 'Custom Fields'|t('sprout-forms') }}</h6>
            {% for field in customFields %}
                {{ formBuilder.field(field, 'source', null, loop.index) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
