{% import "_includes/forms" as forms %}
{% set tab  = 1 %}
{% set tab2 = false %}
{% set tab3 = false %}
{% set tab4 = false %}

<nav id="tabs" class="tabs" style= "margin: 0 0 0 0;">
	<ul>
		<li>
			<a class="tab {{ tab == 1 ? ' sel' : '' }}" href="#tab-sproutforms-fields">
				{{ "Fields"|t('sproutforms') }}
			</a>
		</li>
		<li>
			<a class="tab {{ tab == 2 ? ' sel' : '' }} {{ tab2 ? 'error' : '' }}" href="#tab-sproutforms-notification">
                {{ "Notifications"|t('sproutforms') }}
			</a>
		</li>
		<li>
			<a class="tab {{ tab == 3 ? ' sel' : '' }}" href="#tab-sproutforms-settings">
                {{ "Settings"|t('sproutforms') }}
			</a>
		</li>
	</ul>
</nav>

<div>
	{% set fieldTypes = craft.sproutforms.getRegisteredFields() %}
	<div class="{{ tab != 1 ? 'hidden' : '' }} meta" id="tab-sproutforms-fields">
			<div class='parent'>
				<div class='sprout-wrapper'>
					<div id='right-copy' class='sprout-container'>
						{% for type,fieldObject in fieldTypes %}
							<div id="sproutfield" data-type="{{type}}">
								<div id="fields-fullName-field" class="field plaintext fullName-field" style="width: 40%;">
									<div class="heading">
										<div class="sproutforms-icon">
											{{ fieldObject.getIcon()|raw }}
										</div>
										<label for="fields-fullName">{{fieldObject.displayName()}}</label>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
	</div><!-- fields div -->

	<div class="{{ tab != 2 ? 'hidden' : '' }} meta" id="tab-sproutforms-notification">

		{% include 'sproutforms/forms/_tabs/notifications' %}

	</div><!-- notifications div -->

	<div class="{{ tab != 3 ? 'hidden' : '' }} meta" id="tab-sproutforms-settings">

		{% if groups is defined and groups|length %}

			{% set groupOptions = [
				{ label: 'All Forms'|t('sproutforms') , value: '*' }
			] %}
			{% for group in groups %}
				{% set groupOptions = groupOptions|merge([{ label: group.name, value: group.id }]) %}
			{% endfor %}

			{{ forms.selectField({
				first: true,
				label: "Group <span class='info'>Which group should this form be displayed in?</span>"|t('sproutforms'),
				id: 'groupId',
				name: 'groupId',
				options: groupOptions,
				value: groupId
			}) }}

		{% endif %}

		{{ forms.textField({
			first: (groups is defined and groups|length ? false : true),
			label: "Name <span class='info'>What this form will be called in the CP.</span>"|t('sproutforms'),
			id: 'name',
			name: 'name',
			value: form.name,
			errors: form.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle <span class='info'>How you’ll refer to this form in the templates.</span>"|t('sproutforms'),
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: form.handle,
			errors: form.getErrors('handle'),
			required: true
		}) }}

		{{ forms.textField({
			label: "Redirect <span class='info'>Where should the user be redirected upon form submission? Leaving blank will redirect user back to the form.</span>"|t('sproutforms'),
			name: 'redirectUri',
			placeholder: siteUrl,
			value: (form is defined ? form.redirectUri : null),
			errors: (form is defined ? form.getErrors('redirectUri') : null)
		}) }}

		{{ forms.textField({
			label: "Button <span class='info'>What the text in the submit button should be.</span>"|t('sproutforms'),
			name: 'submitButtonText',
			placeholder: 'Submit',
			value: (form is defined ? form.submitButtonText : null),
			required: false,
			errors: (form is defined ? form.getErrors('submitButtonText') : null)
		}) }}

		<hr>

		{# @todo - make work, clean up unnecessary classes #}
		<a class="fieldtoggle" data-target="types-barrelstrength-sproutforms-integrations-sproutforms-fields-PlainText-advanced">Advanced</a>

		{{ forms.textField({
			label: "Title Format <span class='info'>Entry Titles are auto-generated based on the Title Format you enter here. All information contained in the Title will also be searchable. You may use the same syntax here as you would with Dynamic Titles in your Sections. (i.e. {dateCreated|date('Ymd')} {fullName})</span>"|t('sproutforms'),
			id: 'titleFormat',
			name: 'titleFormat',
			value: form.titleFormat,
			errors: form.getErrors('titleFormat')
		}) }}

		<div class="field field-heading">Template Customization</div>

		{{ forms.lightswitchField({
			label: "Tab Titles <span class='info'>Display Tab Titles on Forms</span>"|t('sproutforms'),
			id: 'displaySectionTitles',
			name: 'displaySectionTitles',
			on: form.displaySectionTitles,
			onLabel: "Show"|t('sproutforms'),
			offLabel: "Hide"|t('sproutforms')
		}) }}

		{% if settings.enablePerFormTemplateFolderOverride or form.enableTemplateOverrides %}

		{{ forms.lightswitchField({
			label: "Custom Templates <span class='info'>Enable Custom Template Overrides Folder</span>"|t('sproutforms'),
			name: 'enableTemplateOverrides',
			toggle: 'templateOverridesFolder-field',
			on: form.enableTemplateOverrides,
			onLabel: "Enable"|t('sproutforms'),
		}) }}

		{{ forms.textField({
			label: "Templates Folder <span class='info'>The template folder to use for overrides</span>"|t('sproutforms'),
			name: 'templateOverridesFolder',
			placeholder: '_forms/formHandle',
			id: 'templateOverridesFolder',
			on: form.templateOverridesFolder,
			value: (form is defined ? form.templateOverridesFolder : null),
		}) }}

		{% endif %}

		{% if settings.enablePayloadForwarding or form.submitAction %}

		<div class="field field-heading">Payload Forwarding</div>

		{{ forms.textField({
			label: "Submit URL <span class='info'>Submit your form data to this URL, instead of directly to Sprout
			Forms.</span>"|t('sproutforms'),
			name: 'submitAction',
			placeholder: 'http://example.com/somewhere-else',
			value: (form is defined ? form.submitAction : null),
			errors: (form is defined ? form.getErrors('submitAction') : null)
		}) }}

		{{ forms.lightswitchField({
			label: "Save Copy <span class='info'>Save the submitted payload data as a Form Entry in Craft. By default, when Payload Forwarding is enabled, all submitted data is forwarded to your Submit URL location and no data is saved in Craft.</span>"|t('sproutforms'),
			id: 'savePayload',
			name: 'savePayload',
			instructions: '',
			value: form.savePayload,
			on: (form.savePayload is defined) ? form.savePayload : ""
		}) }}

		{% endif %}

	</div>
</div>

{% if not form.enableTemplateOverrides %}
	{% js %}
		$('#templateOverridesFolder-field').toggleClass('hidden');
	{% endjs %}
{% endif %}