{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Submit URL <span class='info'>Submit your form data to this URL, instead of directly to Sprout
            Forms.</span>"|t('sprout-forms'),
    name: 'submitAction',
    placeholder: 'https://example.com/somewhere-else'|t('sprout-forms'),
    value: integration.submitAction ?? null,
    errors: integration.getErrors('submitAction') ?? null
}) }}

{{ forms.editableTableField({
    label: "Field Mapping"|t('sprout-forms'),
    info: "The field in your form.",
    id: 'fieldMapping',
    name: 'fieldMapping',
    minRows: integration.fieldMapping|length,
    maxRows: integration.fieldMapping|length,
    cols: {
        sourceFormField: {
            type: 'singleline',
            heading: "Form Field"|t('sprout-forms'),
            class: 'formField'
        },
        targetIntegrationField: {
            type: 'singleline',
            heading: "API Field"|t('sprout-forms'),
            placeholder: "Leave blank and no data will be mapped"|t('sprout-forms'),
            class: 'custom-endpoint'
        }
    },
    rows: integration.fieldMapping,
    errors: []|unique
}) }}

{% js on ready %}
    new SproutFormsIntegration({
    integrationType: "{{ className(integration)|e('js') }}"
    });
{% endjs %}
