{% import "_includes/forms" as forms %}

<div class="sproutform-exampleinput-privatenotes">

    {{ forms.textarea({
        rows: 4,
        readonly: true,
        disabled: true
    }) }}

    <p>
        <i class="fa fa-eye-slash fa-lg"></i> {{ "This field will not be visible in your form or your source code."|t('sprout-forms') }}
    </p>

</div>