<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <title>{{ "Special Fields Form"|t }}</title>
</head>
<body>

{% do craft.sproutForms.addFieldVariables({
    foo: 'Foo',
    bar: 'Bar'
}) %}

{{ craft.sproutForms.displayForm('specialFieldsForm') }}

</body>
</html>
