
{% set tabs = form.getFieldLayout().getTabs() %}


{% if craft.request.getSegment(3) == 'new' %}

	<p>Please create your form to add fields.</p>
	
{% else %}

	{% if tabs is defined and tabs|length %}

		{% for tab in tabs %}

			{% set fields = tab.getFields() %}

			{% include 'sproutforms/forms/_fieldpartial' with {
				fields : fields
			} %}
		    
		{% endfor %}

	{% else %}
	    
	    <p>{{ "Add your first tab to begin adding fields."|t }}</p>

	{% endif %}

	<div class="buttons">
		
		<a href="{{ url('sproutforms/forms/' ~ form.id ~ '/fields/new') }}" class="submit btn add icon">New Field</a>

		{# <a id="newSection" data-formid="{{ form.id }}" data-action="newSection" class="btn add icon">New Section</a> #}

	</div>
	
{% endif %}