{% extends "sproutforms/_layouts/elementindex" %}
{% set editForms = craft.sproutForms.userCanEditForms() %}
{% set title = "Forms"|t %}
{% set elementType = 'SproutForms_Form' %}

{% set groups = craft.sproutForms.getAllFormGroups('id') %}

{% if groupId is defined %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}
{% endif %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutforms/forms/new') }}">{{ "New Form"|t }}</a>
	</div>
{% endset %}

{% block sidebar %}

	{% set customizableSources = false %}

  {{ parent() }}

	<div class="buttons">
		<div id="newgroupbtn" class="btn add icon">{{ "New Group"|t }}</div>
		<div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings'|t }}"></div>
		<div class="menu">
			<ul>
				<li><a data-action="rename" role="button">{{ "Rename selected group"|t }}</a></li>
				<li><a data-action="delete" role="button">{{ "Delete selected group"|t }}</a></li>
			</ul>
		</div>
	</div>

{% endblock %}

{% includeJsResource "sproutforms/js/groups.js" %}
