{% set options = field.options %}

{% if not field.options|length %}
    {% set options = [
    { label : "Option One", default: 1 },
    { label : "Option Two", default: 0 },
    { label : "Option Three", default: 0 }
    ] %}
{% endif %}

<select multiple readonly disabled>
    {%- for key, option in options %}

        {%- set optionLabel = (option.label is defined ? option.label : null) %}

        <option {% if option.default == 1 %} selected{% endif %}>{{ optionLabel }}</option>

    {%- endfor %}
</select>