.sprout-forms.examples .field > .warning {
    font-size: 1em;
}

/* SPROUT FIELD MODAL CSS */

.sprout-field-modal {
    padding-bottom: 58px;
}

.sprout-field-modal > .spinner {
    left: calc(50% - 24px);
    position: absolute;
    top: calc(50% - 29px - 24px);
}

.sprout-field-modal .main {
    height: calc(100% - 48px);
    margin: -24px;
    overflow: auto;
    padding: 24px;
    position: relative;
}

.sprout-field-modal .body {
    height: 100%;
    position: relative;
}

.sprout-field-modal .body .content {
    height: calc(100% + 48px);
}

.sprout-field-modal .footer {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.sprout-field-modal .footer .buttons.left {
    position: relative;
}

.sprout-field-modal .footer .buttons.left .spinner {
    margin: 0;
    position: absolute;
    right: 100%;
    top: 0;
}

.tab-title {
    text-align: left;
    width: 100%;
}

#tabs {
    width: 100%;
}

.field.sproutforms-integration-row {
    align-items: center;
}

.field.sproutforms-integration-row .heading {
    flex: 0 0 80%;
}

.sproutforms-exampleinput-address,
.sproutforms-exampleinput-customhtml {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.sproutforms-exampleinput-address .address-icon svg,
.sproutforms-exampleinput-customhtml .customhtml-icon svg {
    fill: #cccccc;
    height: 48px;
    width: 48px;
}

.sproutforms-exampleinput-address p,
.sproutforms-exampleinput-customhtml p {
    flex-grow: 1;
    font-style: italic;
    margin-left: 20px;
}

.target-field .body .sproutform-exampleinput-privatenotes textarea {
    border: 2px dashed #cccccc;
    box-shadow: none;
    margin-bottom: 12px;
    padding: 4px;
}

.sproutform-exampleinput-privatenotes p {
    font-style: italic;
    margin: 5px 0 10px;
}

.sproutform-exampleinput-hidden input[type="text"] {
    border: 2px dashed #bbbbbb;
    box-shadow: none;
    margin-bottom: 12px;
    padding: 4px;
}

.sproutform-exampleinput-hidden p {
    font-style: italic;
    margin: 5px 0 10px;
}

select[readonly] {
    background: #eeeeee;
    pointer-events: none;
    touch-action: none;
}

table.editable .custom-endpoint textarea {
    font-size: 12px;
}

table.rules-table {
    background-color: #f3f7fc;
    border-radius: 6px;
    margin-top: 24px;
    padding-bottom: 6px;
}

table.rules-table thead tr {
    background-color: #cdd8e4;
    font-size: 12px;
    text-transform: uppercase;
}

table.rules-table tr th:first-child {
    border-top-left-radius: 4px;
}

table.rules-table tr th:last-child {
    border-top-right-radius: 4px;
}

table.rules-table tr th:first-child,
table.rules-table tr td:first-child {
    padding-left: 12px;
}

table.rules-table tr th:last-child,
table.rules-table tr td:last-child {
    padding-right: 12px;
}

table.rules-table tbody tr:first-child td {
    padding-top: 12px;
}

div.rules-table-and {
    color: #8f98a3;
    font-weight: bold;
    line-height: 1.2;
    margin: 24px 0 24px 10px;
}

.rules-table-and-add {
    margin-left: 10px;
}

table.behavior-table .behavior-action {
    padding-right: 12px;
}

table.rules-table tbody td select {
    max-width: 200px;
}

table.behavior-table tbody td select {
    max-width: 280px;
}

/* Integrations modal */
table.editable tbody tr td {
    text-align: left;
}

table.editable tbody tr td.formField .select:not(.selectize):after {
    content: "";
}
