@import '~dragula/dist/dragula.min.css';

.sprout-forms.forms.edit [sproutforms-fieldlayouteditor] #content {
    padding: 24px 0;
}

// Stop page title from jumping down when we add the spinner
.sprout-forms.forms.edit #page-title h1 {
    padding-top: 2px;
}

.sproutforms-tab-fields {
    overflow-y: auto; // Required to support autoScroll
    padding: 10px;
}

/* DRAGULA
------------------------------------------------------------ */


#sproutforms-source-fields {
    padding-left: 10px;
}

#main-container #main #main-content #details #sproutforms-source-fields {
    padding-top: 18px;
}

.sproutforms-icon svg {
    height: 14px;
    vertical-align: middle;
    width: 14px;
}

.sproutforms-sourcefield-name {
    vertical-align: middle;
}

.source-field {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Field Layout - Target */

.target-field {
    border: 2px solid transparent;
    margin-bottom: 2px;
    padding: 12px 10px 20px;
    position: relative;
}

.target-field:hover {
    //background-color: rgba(0, 0, 0, .08);
    border: 2px dashed rgba(13, 120, 242, .5);
    transition: all 0.2s ease-in-out;
}

.target-field .active-field-header p,
.target-field .body {
    clear: both;
}

.target-field h2 + code {
    margin-left: 6px;
    opacity: 0;
}

.target-field:hover h2 + code,
.target-field:hover ul.settings {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.target-field ul.settings {
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.target-field ul.settings li {
    color: #888888;
    float: left;
    font-size: 8px;
    padding-left: 8px;
}

.target-field ul.settings li i {
    color: #888888;
}

.target-field h2 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.target-field h2 a {
    color: #aaaaaa;
    display: inline-block;
    font-size: 8px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: top;
}

.target-field p {
    color: #aaaaaa;
    margin: -7px 0 10px 0;
}

.target-field .body {
    margin-top: 10px;
}

/* Field Instances - Source */

#sproutforms-source-fields #right-copy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sproutforms-source-fields #right-copy h6 {
    flex-grow: 1;
    margin-bottom: 10px;
    width: 100%;
}

.source-field {
    border: 2px solid transparent;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 8px;
    text-align: left;
    width: 155px;
}

@media only screen and (min-width: 975px) {
    #sproutforms-source-fields .source-field.odd {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 974px) {
    #sproutforms-source-fields .source-field {
        margin-right: 5px;
    }
}

.source-field:hover,
.source-field:hover svg {
    background-color: rgb(13, 120, 242);
    //background-color: rgb(40, 68, 235, .8);
    color: #ffffff;
    fill: #ffffff;
}

.source-field h3 {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}

.source-field h3 .sproutforms-icon {
    display: inline-block;
    margin-right: .5em;
}

/* Default Example Form Styles */

.target-field .body textarea,
.target-field .body input[type="text"],
.target-field .body input[type="email"],
.target-field .body input[type="phone"],
.target-field .body input[type="url"],
.target-field .body input[type="number"] {
    border: 1px solid #cccccc;
    border-bottom-color: #dddddd;
    border-top-color: #888888;
    box-shadow: inset 1px 1px 2px 0 #707070;
    font-size: 14px;
    padding: 5px;
    width: 60%;
}

.target-field .body textarea {
    border: 1px solid #eeeeee;
    box-shadow: inset 1px 1px 2px 0 #cccccc;
}

/* Drag Behavior */
.sprout-tab-container:empty,
.sprout-tab-container .source-field:only-child {
    height: 160px;
    padding-bottom: 0;
}

.sprout-tab-container {
    padding-bottom: 20px;
}

.sproutforms-tab-fields .target-field,
#sproutforms-source-fields .source-field {
    cursor: grab;
    user-select: none;
}

.target-field.drag-active,
.source-field.drag-active {
    cursor: grabbing;
}

.source-field.drag-active {
    background-color: rgb(13, 120, 242);
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

#sproutforms-source-fields .source-field.drag-active {
    background-color: rgba(0, 0, 0, .025);
    border: 2px dashed rgba(0, 0, 0, .1);
    color: rgb(41, 50, 61);
    opacity: .2;
}

.source-field.drag-active.gu-transit .sproutforms-icon svg {
    display: none;
}

.target-field.drag-active.gu-mirror {
    border: 2px solid transparent;
}

.target-field.drag-active.gu-mirror ul.settings {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.sprout-tab-container .source-field.drag-active,
.sprout-tab-container .target-field.drag-active {
    background-color: transparent;
    border: 2px dashed rgb(13, 120, 242);
    box-sizing: border-box;
    margin-bottom: 2px;
    min-height: 80px;
    opacity: .2;
    padding: 12px 20px 20px;
    width: 100%;
}


// ----

.formpagemanagerhud .icon.edit:before {
    color: rgba(123, 135, 147, 0.5);
}

//noinspection CssUnusedSymbol
.formpagemanagerhud {
    max-width: 400px;
}

// Give freedom to non-Desktop UI to adjust as needed
@media only screen and (min-width: 975px) {
    [sproutforms-fieldlayouteditor] #main-content {
        position: fixed;
    }
    [sproutforms-fieldlayouteditor] #details-container {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.sprout-forms.forms.edit .unsaved.checkmark-icon:before {
    color: inherit;
}