/* BASE STYLES
-----------------------------------*/

.content.entries::after {
	display: none !important;
}

footer.bsd-branding {
    bottom:0;
    right:0;
    color:#999;
    font-size:11px;
    position:absolute;
}

footer.bsd-branding a {
    color:#999;
    font-weight:bold;
}

.no-entries {
	margin: 30px 30px 0 30px;
	width: 40%;
}

table#entries tr {
	height: 50px;
}

table#entries .left-border {
	width: 3px;
	min-width: 3px;
	height: 50px;
	position: absolute;
	left: 0;
	background-color: #fff;
	z-index: 10;
}

table#entries tr:hover td.left-border {
	background-color: #0d78f2;
}

table#entries th div {
	position: absolute;
	top:0;
	z-index: 20;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

table#entries th h3 {
	padding-top: 10px;
}

table#entries tbody tr:hover,
table#entries tbody tr:hover td {
	background-color: #fafafa;
}

table#entries tbody td,
table#entries td:not(:first-child),
table#entries th.delete {
	padding: 0;
	vertical-align: top;
}

table#entries td a {
	display: block;
	height: 36px;
	outline: none;
	padding: 7px 0 7px 10px;
}

table#entries .date {
	position: absolute;
	left: 3px;
	z-index: 10;
	background-color: #fff;
	width: 140px;
	min-width: 140px;
	height: 50px;
}

table#entries th.date {
	z-index: 30;
	padding: 0;
}

table#entries th.date div {
	padding: 0 0 0 10px;
	margin-left: -10px;
	text-indent: 10px;
	border-bottom: 0px solid transparent;
}

table#entries th.padding,
table#entries td.padding {
	width: 143px;
	min-width: 143px;
	padding: 0;
}

table#entries td.padding {
	border-top: 0px solid transparent;
}

table#entries .date strong {
	display: block;
}

table#entries .date a {
	color: inherit;
	text-decoration: none;
}

table#entries th.thin.delete,
table#entries td.thin.delete {
	width: 31px !important;
	min-width: 31px !important;
}

table#entries td.delete {
	position: absolute;
	background-color: #fff;
	z-index: 10;
}

table#entries td.thin.delete a {
	padding: 7px 5px;
}

table#entries td.field a {
	display: block;
	max-width: 300px;
	color: inherit;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
}

table#entries td:last-child  {
	border-right: 0px solid transparent;
}

table.results {
	min-width: 100%;
}

table.results th:not(:first-child) div,
table.results td:not(:first-child) {
	padding-left: 10px;
}

table.results tbody th,
table.results tbody td {
	vertical-align: top;
	border-top: 1px dotted #e3e5e8;
}

/* SCROLLBAR DESIGN
-----------------------------------*/
.jspVerticalBar,
.jspHorizontalBar {
	z-index: 200;
}

.jspVerticalBar {
	background-color: #fff;
}

.jspHorizontalBar {
	background: transparent;
}

.jspTrack {
	background-color: rgba( 245, 245, 245, 0.7 );
	-webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
	   -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
	     -o-transition: background linear 0.2s, box-shadow linear 0.2s;
	        transition: background linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 0 1px #aaa;
	   -moz-box-shadow: inset 0 0 1px #aaa; 
	        box-shadow: inset 0 0 1px #aaa;
	
		
}

.jspTrack:hover,
.jspTrack:active {
	background-color: rgba( 235, 235, 235, 0.7 );
	-webkit-box-shadow: inset 0 0 1px #777;
	   -moz-box-shadow: inset 0 0 1px #777; 
	        box-shadow: inset 0 0 1px #777;
	
}

.jspDrag {
	background-color: rgba( 220, 220, 220, 0.7 );
	-webkit-transition: background linear 0.2s, box-shadow linear 0.2s;
	   -moz-transition: background linear 0.2s, box-shadow linear 0.2s;
	     -o-transition: background linear 0.2s, box-shadow linear 0.2s;
	        transition: background linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 0 1px #aaa;
	   -moz-box-shadow: inset 0 0 1px #aaa; 
	        box-shadow: inset 0 0 1px #aaa;
}

.jspTrack:hover .jspDrag,
.jspDrag:active {
	background-color: rgba( 200, 200, 200, 0.8 );
	-webkit-box-shadow: inset 0 0 1px #888;
	   -moz-box-shadow: inset 0 0 1px #888; 
	        box-shadow: inset 0 0 1px #888;
}

.jspCorner {
	background-color: #fff;
}

.jspArrow,
.jspArrow.jspDisabled {
	background-image: url('../img/scroll-arrows.png');
	background-color: #fff;
	
	-webkit-transition: background-color linear 0.1s;
	   -moz-transition: background-color linear 0.1s;
	     -o-transition: background-color linear 0.1s;
	        transition: background-color linear 0.1s;
	
}

.jspActive {
	background-color: #eee;
}


.jspArrowUp {
	background-position: -16px 0;
}

.jspArrowUp.jspDisabled,
.jspArrowUp.jspActive.jspDisabled {
	background-position: 0 0;
}

.jspArrowUp.jspActive {
	background-position: -32px 0;
}

.jspArrowDown {
	background-position: -16px -16px;
}

.jspArrowDown.jspDisabled,
.jspArrowDown.jspActive.jspDisabled {
	background-position: 0 -16px;
}

.jspArrowDown.jspActive {
	background-position: -32px -16px;
}

.jspArrowLeft {
	background-position: -16px -32px;
}

.jspArrowLeft.jspDisabled,
.jspArrowLeft.jspActive.jspDisabled {
	background-position: 0 -32px;
}

.jspArrowLeft.jspActive {
	background-position: -32px -32px;
}

.jspArrowRight {
	background-position: -16px -48px;
}

.jspArrowRight.jspDisabled,
.jspArrowRight.jspActive.jspDisabled {
	background-position: 0 -48px;
}


.jspArrowRight.jspActive {
	background-position: -32px -48px;
}