{%- set id = (field.id is defined ? field.id : null) %}
{%- set label = (field.label is defined ? field.label : null) %}
{%- set instructions = (field.instructions is defined ? field.instructions : null) %}
{%- set errors = (errors is defined ? errors : null) -%}

<div {% if id %}id="{{ id }}-field"{% endif %} class="field {{ field.type }}">
	{% if label or instructions %}
		<div class="heading">
			{% if label %}
				<label{% if field.required is defined and field.required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
					{{ label | raw }}
				</label>
			{% endif %}
			{% if instructions is defined and instructions %}
				<p>{{ instructions | raw }}</p>
			{% endif %}
		</div>
	{% endif %}
	<div class="input{% if field.error %} errors{% endif %}">
		{{ field.input | raw }} 
	</div>
	{% if field.error is defined and field.error %}
	<p>{{ field.error | raw }}</p>
	{% endif %}
</div>
