{%- set submitValue = (customSettings.submitButtonText is defined ? customSettings.submitButtonText : form.submitButtonText is defined and form.submitButtonText ? form.submitButtonText : "Submit") -%}
{%- set submitButton = (customSettings.submitButtonType is defined ? customSettings.submitButtonType : form.submitButtonType is defined ? form.submitButtonType : 'input') -%}

{# @TODO - allow this to be controlled by a setting and 
					 also have option to output errors inline  #}
{% if errors.all %} 
	<ul class="errors">
	{% for error in errors.all %}
		<li class="error">{{ error }}</li>
	{% endfor %}
	</ul>
{% endif %}
	
<form method="post" accept-charset="UTF-8">
	<input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	<input type="hidden" name="handle" value="{{ form.handle }}">
	
	{% if form.redirectUri %}
	<input type="hidden" name="redirect" value="{{ form.redirectUri }}">
	{% endif %}

	<div class="fields">
	{{ fields | raw }}
	</div>
	
	<div class="submit">
	{% if submitButton == 'button' %}
		<button type="submit">{{ submitValue }}</button>
	{% else %}
		<input type="submit" value="{{ submitValue }}">
	{% endif %}
	</div>
		
	

</form>