<div class="sproutforms-exampleinput-address">

    <div class="address-icon">{{ svg('@sproutbaseicons/map-marker-alt.svg') }}</div>
    {% if not field.settings.showCountryDropdown %}
        <p>{{ "A {defaultCountry} address field will display in your front-end form."|t('sprout-forms', {
                defaultCountry: field.settings.defaultCountry
            }) }}</p>
    {% else %}
        <p>{{ "The Address field will adapt to the selected country in your front-end form."|t('sprout-forms') }}</p>
    {% endif %}

</div>