<nav id="tabs">
    <ul id="sprout-forms-tabs">
        {% for tabId, tab in formTabs %}
            {% if tab %}
                {# let's get the tab id from the url #}
                {% set tabIdKey = tab.url|split('-') %}
                {% set tabIsSelected = ((loop.first) or (selectedTab is defined and selectedTab == tabId)) -%}
                <li class="drag-tab">
                    <a id="tab-{% if tabIdKey[2] is defined %}{{ tabIdKey[2] }}{% endif %}"
                       class="tab {% if tabIsSelected %} sel{% endif %}
                       {% if tab.class is defined %} {{ tab.class }}{% endif %}"
                       href="{{ tab.url }}"><span
                            class="tab-label">{{ tab.label }}</span>&nbsp;<span
                            id="icon-wheel" class="settings icon"></span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>