<div id="tab-settings" class="hidden">
  
  <form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="sproutForms/forms/saveForm">
    <input type="hidden" name="redirect" value="sproutforms">
    <input type="hidden" name="id" value="{{ form is defined ? form.id : '' }}">
    
    {{ forms.textField({
      label: "Form Name"|t,
      id: 'name',
      name: 'name',
      instructions: "Human readable form name"|t,
      value: (form is defined ? form.name : null),
      autofocus: true,
      required: true,
      first: true,
      errors: (form is defined ? form.getErrors('name') : null)   
    }) }}

    {{ forms.textField({
      label: "Form Handle"|t,
      id: 'handle',
      name: 'handle',
      instructions: "Short name you will use to refer to your form in the code"|t,
      value: (form is defined ? form.handle : null),
      required: true,
      errors: (form is defined ? form.getErrors('handle') : null)   
    }) }}
    
    {{ forms.textField({
      label: "Redirect Page"|t,
      id: 'redirect_on_submit',
      name: 'redirect_on_submit',
      instructions: "Where should the user be redirected upon form submission? <i>NOTE: Leaving blank will redirect user back to the form.</i> "|t,
      placeholder: siteUrl, 
      value: (form is defined ? form.redirect_on_submit : null),
      required: true,
      errors: (form is defined ? form.getErrors('redirect_on_submit') : null)   
    }) }}

    <div class="buttons">
      <input class="btn submit" type="submit" value="Save Template" />
      <input type="button" class="btn delete" value="Cancel" onclick="window.location='{{ url('sproutforms') }}';" />
    </div>
  
  </form>

</div>

{% if form is not defined or not form.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}