{% extends "sproutforms/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set body %}

<style type="text/css">
	.examples {
		width: 35%;
	}
	.examples .buttons {
		margin-top: 1em;
	}
</style>

<form method="post" action="" accept-charset="UTF-8" class="examples">
	<input type="hidden" name="action" value="sproutForms/examples/install">
	
	<h2>Getting Started</h2>
	
	<p>Install an example Contact Form with commented templates and example data.  Front-end templates will be initially placed in the `craft/templates/sproutforms` folder.</p>

	<div class="buttons">
		<input class="btn submit" type="submit" value="Install Example Contact Form" />
	</div>

	<p>Don't install any example forms or data, I will build the forms I need myself.</p>

	<div class="buttons">
		<input type="button" class="btn delete" value="Take me to Sprout Forms" onclick="window.location='{{ url('sproutforms') }}';" />
	</div>
	

</form>
{% endset %}