{% requirePermission "editSproutFormsSettings" %}

{% extends "sproutforms/_layouts/settings" %}
{% import "_includes/forms" as forms %}


{% set content %}

	{% if craft.sproutForms.hasExamples() %}
		<div class="pane first field">
			<span class="warning">
				{{ "Example templates and forms may already be installed."|t }}
			</span>
		</div>
	{% endif %}

	{% if not craft.sproutForms.canCreateExamples() %}

		<div class="pane first">

			<p class="field">
				<span class="warning">
					{{ "Your templates directory does not have the correct permissions:"|t }}
				</span>
			</p>

			<p>{{ "Sprout Forms will not be able to install the example templates until your <a href='http://buildwithcraft.com/docs/installing#step-2-set-the-permissions' target='_blank'>templates directory is writeable</a>. "}}</p>

		</div>

	{% endif %}

	<form method="post" action="" accept-charset="utf-8">
		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutForms/examples/install">

		<p>{{ "Install <strong>example forms</strong> with <strong>commented templates</strong> and <strong>example data</strong>. The example templates will be created
		and placed in the `<code>craft/templates/sproutforms</code>` folder."|t | raw }}</p>

		<p>{{ "Example forms include a Contact Form and Basic Fields Form and illustrate how to output your forms
		with one line of code or customize them with 100% control."|t | raw
			}}</p>

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Install Example Forms'|t }}" />
		</div>

	</form>

{% endset %}