{% requirePermission "editSproutFormsSettings" %}

{% extends "sproutforms/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'sproutforms/settings/general' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

{% if currentUser.can('editSproutFormsSettings') %}

  <input type="hidden" name="action" value="sproutForms/settings/saveSettings">

  <div id="settings-cp">

    {% namespace 'settings' %}

		  {{ forms.textField({
			  label: "Plugin Name"|t,
			  id: 'pluginNameOverride',
			  name: 'pluginNameOverride',
			  instructions: "Intuitive, human-readable plugin name for the end user."|t,
			  value: settings.pluginNameOverride,
			  placeholder: "Forms"|t,
			  autofocus: true,
			  first: true,
			  errors: ''
		  }) }}

	  {% endnamespace %}

  </div>

{% endif %}

{% endset %}