{% import "forms" as forms %}
{% set fieldSettings = attribute(customSettings, name) is defined ? attribute(customSettings, name) : null %}
{% set config = {
	id: name,
	name: name,
	value: value,
	class: fieldSettings.class is defined ? fieldSettings.class : 'nicetext' ,
	placeholder: settings.placeholder,
	rows: settings.initialRows
} %}

{% if settings.multiline %}
	{{ forms.textarea(config) }}
{% else %}
	{{ forms.text(config) }}
{% endif %}

{% includejs %}
	var dataJson = '{{ fieldSettings.data is defined ? fieldSettings.data|json_encode|raw : null }}';
	var fieldId = '{{name}}';
	setCustomAttributes(dataJson, fieldId);
{% endincludejs %}