{% import "forms" as forms %}
{% set fieldSettings = attribute(customSettings, name) is defined ? attribute(customSettings, name) : null %}
{% set config = {
	id: name,
	name: name,
	value: value,
	class: fieldSettings.class is defined ? fieldSettings.class : 'nicetext' ,
	placeholder: settings.placeholder,
	rows: settings.initialRows
} %}

{% if settings.multiline %}
	{{ forms.textarea(config) }}
{% else %}
	{{ forms.text(config) }}
{% endif %}

<script>
	var fieldSettings = JSON.parse(
			'{{ fieldSettings.data is defined ? fieldSettings.data|json_encode() : null }}'
		);
	var id = '{{name}}';
	console.log(fieldSettings);
	if(fieldSettings.data != null)
	{
		for (var key in fieldSettings.data)
		{
			console.log(key);
			$('#'+id).data(key, fieldSettings[key]);
		}
	}
</script>
