{% import "_includes/forms" as forms %}

<label>
    {% set checkedStatus = field.selectedByDefault ?? false %}
    {% set optionLabel = field.optInMessage is not empty ? field.optInMessage|markdown('original', true)|striptags : 'Agree to terms?'|t('sprout-forms') %}

    {{ forms.checkbox({
        name: 'checkboxes',
        label: optionLabel,
        checked: checkedStatus,
        readonly: true,
        disabled: true
    }) }}
</label>

{% css %}
    #sproutfield-{{ field.id }} .active-field-header,
    [data-type="barrelstrength\\sproutforms\\fields\\formfields\\OptIn"] .active-field-header {
    display: none;
    }
{% endcss %}
