{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Submit URL <span class='info'>Submit your form data to this URL, instead of directly to Sprout
            Forms.</span>"|t('sprout-forms'),
    name: 'submitAction',
    placeholder: 'http://example.com/somewhere-else'|t('sprout-forms'),
    value: integration.submitAction ?? null,
    errors: integration.getErrors('submitAction') ?? null
}) }}

<script>
    $(document).ready(function() {
        init();

        function init(){
            $("div.btn.add.icon").addClass('hidden');
        }
    });
</script>
