{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Submit URL <span class='info'>Submit your form data to this URL, instead of directly to Sprout
            Forms.</span>"|t('sprout-forms'),
    name: 'submitAction',
    placeholder: 'http://example.com/somewhere-else'|t('sprout-forms'),
    value: integration.submitAction ?? null,
    errors: integration.getErrors('submitAction') ?? null
}) }}

<script>
    $(document).ready(function() {
        init();

        function init() {
            disableOptions();
        }

        function disableOptions() {
            var $formFields = getCurrentRows('.formField');
            $formFields.each(function(index) {
                var $wrapperDiv = $(this).find('div.select');
                var $select = $(this).find('select');

                var selectedLabel = $select.find('option:selected').text();

                $wrapperDiv.removeClass('select');
                $wrapperDiv.removeClass('small');
                $select.attr("disabled", false);
                $select.attr("readonly", true);
                $select.addClass("hidden");

                $select.before(selectedLabel);
            });

            var $payloadFields = getCurrentRows('.payloadField');
            $payloadFields.each(function(index) {
                var $textarea = $(this).find('textarea');
                $textarea.prop("disabled", false);
            });
        }

        function getCurrentRows(className) {
            return $(className);
        }
    });
</script>
