{{ forms.checkboxField({
	label: "Only for new entries?"|t,
	name: "entriesSaveEntryOnlyWhenNew",
	checked: options.entriesSaveEntryOnlyWhenNew is defined ? options.entriesSaveEntryOnlyWhenNew : false
}) }}

{{
	forms.field({
		label: "Forms"|t,
		instructions: "Select forms or leave unchecked for all forms."|t,
		errors: errors is defined ? errors : null,
	},
	forms.checkboxGroup({
		name: "entriesSaveEntrySectionIds",
		options : availableForms,
		values: options.entriesSaveEntrySectionIds is defined ? options.entriesSaveEntrySectionIds : null
	}))
}}
