{% extends "_layout" %}

{% block content %}
<form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
	<input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	<input type="hidden" name="handle" value="formName">
	<input type="hidden" name="fields[asset]" value="">
	
	{#  ASSET FIELDS
	    - - - - - - -
	    
	    This example form input would function for an Asset field with a handle 'asset'
	#}
	
	
	
	<div class="field">
		<div class="header">
			<label for="asset">Assets</label>
		</div>
		<div class="body">
			<input id="asset" type="file" name="fields[asset][]" multiple="multiple">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.asset is defined %}
				<ul class="errors">
				{% for error in formName.errors.asset %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  RADIO FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Radio field with a handle 'radioOptions'
	    and three radios with values of 'radioOption1', 'radioOption2', and 'radioOption3'
	#}
	
	<div class="field">
		<div class="header">
			<label for="radioOptions">Radio Options</label>
		</div>
		<div class="body">
			<ul>
				<li>
					<label><input type="radio" value="radioOption1" name="fields[radioOptions]">Radio Option 1</label>
				</li>
				<li>
					<label><input type="radio" value="radioOption2" name="fields[radioOptions]">Radio Option 2</label>
				</li>
				<li>
					<label><input type="radio" value="radioOption3" name="fields[radioOptions]">Radio Option 3</label>
				</li>
			</ul>
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.radioOptions is defined %}
				<ul class="errors">
				{% for error in formName.errors.radioOptions %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  CHECKBOX FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Checkbox field with a handle 'checkboxes'
	    and three checkboxes with values of 'checkbox1', 'checkbox2', and 'checkbox3'
	#}
	
	<div class="field">
		<div class="header">
			<label for="checkboxes">Checkboxes</label>
		</div>
		<div class="body">
		
		
		
			<ul>
				<li>
					<label for="checkbox1"><input id="checkbox1" type="checkbox" value="checkbox1" name="fields[checkboxes][]">&nbsp;One</label>		
				</li>
				<li>
					<label for="checkbox2"><input id="checkbox2" type="checkbox" value="checkbox2" name="fields[checkboxes][]">&nbsp;Two</label>		
				</li>
				<li>
					<label for="checkbox3"><input id="checkbox3" type="checkbox" value="checkbox3" name="fields[checkboxes][]">&nbsp;Three</label>		
				</li>
			</ul>
		</div>
		<div class="error">
			
			{% if formName.errors is defined and formName.errors.checkboxes is defined %}
				<ul class="errors">
				{% for error in formName.errors.checkboxes %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  MULTI-SELECT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Multi-Select field with a handle 'multiSelect'
	    and three options with values of 'mutiOption1', 'mutiOption2', and 'mutiOption3'
	#}
	
	<div class="field">
		<div class="header">
			<label for="multiSelect">Multi Select Fields</label>
		</div>
		<div class="body">
			<select multiple name="fields[multiSelect][]">
				<option value="mutiOption1" name="fields[multiSelect][]">Multi-Option 1</option>
				<option value="mutiOption2" name="fields[multiSelect][]">Multi-Option 2</option>
				<option value="mutiOption3" name="fields[multiSelect][]">Multi-Option 3</option>
			</select>
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.multiMSelect is defined %}
				<ul class="errors">
				{% for error in formName.errors.multiMSelect %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  DROPDOWN FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Dropdown field with a handle 'dropdown'
	    and three options with values of 'dropOption1', 'dropOption2', and 'dropOption3'
	#}
	
	<div class="field">
		<div class="header">
			<label>Dropdowns</label>
		</div>
		<div class="body">
			<select name="fields[dropdown]">
				<option value=""></option>
				<option value="dropOption1">Dropdown Option 1</option>
				<option value="dropOption2">Dropdown Option 2</option>
				<option value="dropOption3">Dropdown Option 3</option>
			</select>
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.dropdown is defined %}
				<ul class="errors">
				{% for error in formName.errors.dropdown %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with a handle 'email'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textEmail">Email</label>
		</div>
		<div class="body">
			<input type="email" id="textEmail" name="fields[email]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.email is defined %}
				<ul class="errors">
				{% for error in formName.errors.email %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for two Plain Text fields with respective handles of 'address1' and 'address2'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textAddress1">Address</label>
		</div>
		<div class="body">
			<input type="text" id="textAddress1" name="fields[address1]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.address1 is defined %}
				<ul class="errors">
				{% for error in formName.errors.address1 %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
		<div class="body">
			<input type="text" id="textAddress2" name="fields[address2]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.address2 is defined %}
				<ul class="errors">
				{% for error in formName.errors.address2 %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with a handle 'city'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textCity">City</label>
		</div>
		<div class="body">
			<input type="text" id="textCity" name="fields[city]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.city is defined %}
				<ul class="errors">
				{% for error in formName.errors.city %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with a handle 'state'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textState">State</label>
		</div>
		<div class="body">
			<input type="text" id="textState" name="fields[state]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.state is defined %}
				<ul class="errors">
				{% for error in formName.errors.state %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  NUMBER FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Number field with a handle 'zip'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textZip">Zip Code</label>
		</div>
		<div class="body">
			<input type="text" id="textZip" name="fields[zip]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.zip is defined %}
				<ul class="errors">
				{% for error in formName.errors.zip %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	
	
	{#  PLAIN TEXT FIELDS WITH LINE BREAKS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with "allow line breaks" selected and a handle 'textareaMessage'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textareaMessage">Message</label>
		</div>
		<div class="body">
			<textarea id="textareaMessage" name="fields[textareaMessage]" autocomplete="off"></textarea>
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.textareaMessage is defined %}
				<ul class="errors">
				{% for error in formName.errors.textareaMessage %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	<input type="submit" value="Submit">
</form>

{% endblock %}