{% extends "_layout" %}

{% block content %}
<form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
	<input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	<input type="hidden" name="handle" value="simpleForm">
	
			
	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with a handle 'email'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textName">Name</label>
		</div>
		<div class="body">
			<input type="text" id="textName" name="fields[fullName]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.fullName is defined %}
				<ul class="errors">
				{% for error in formName.errors.fullName %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>

	
	{#  PLAIN TEXT FIELDS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with a handle 'email'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textEmail">Email</label>
		</div>
		<div class="body">
			<input type="email" id="textEmail" name="fields[email]" autocomplete="off">
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.email is defined %}
				<ul class="errors">
				{% for error in formName.errors.email %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
		
	{#  PLAIN TEXT FIELDS WITH LINE BREAKS
	    - - - - - - -
	    
	    This example form input would function for a Plain Text field with "allow line breaks" selected and a handle 'textareaMessage'
	#}
	
	<div class="field">
		<div class="header">
			<label for="textareaMessage">Message</label>
		</div>
		<div class="body">
			<textarea id="textareaMessage" name="fields[message]" autocomplete="off"></textarea>
		</div>
		<div class="error">
			{% if formName.errors is defined and formName.errors.message is defined %}
				<ul class="errors">
				{% for error in formName.errors.message %}
					<li class="error">{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %} 
		</div>
	</div>
	<input type="submit" value="Submit">
</form>

{% endblock %}