{% extends "_layouts/cp" %}

{% set selectedTab = craft.request.segment(2) ? craft.request.segment(2) : 'overview' %}

{% block main %}
  
  {% if body is defined %}
  	{{ body }}
  {% endif %}

{#   <footer class="bsd-branding">
    <p>
      Powered by <a href="http://barrelstrengthdesign.com" target="_blank">Sprout Forms</a> {{ craft.sproutForms.version }} | 
      Designed by <a href="http://barrelstrengthdesign.com" target="_blank">Barrel Strength</a>
    </p>
  </footer> #}

{% endblock %}

{% includeCssResource "sproutforms/css/brand.css" %}