{% extends "_layouts/cp" %}

{% set title = craft.SproutForms.name %}

{% set content %}
  
	{{ body }}

	<footer class="bsd-branding">
		<p>
			Powered by <a href="http://barrelstrengthdesign.com" target="_blank">{{ craft.sproutforms.name }}</a> {{ craft.sproutforms.version }} | 
			Designed by <a href="http://barrelstrengthdesign.com" target="_blank">(Barrel Strength)</a>
		</p>
	</footer>
	
{% endset %}

{% includeCssResource "sproutforms/css/styles.css" %}
{% includeJsResource "sproutforms/js/scripts.js" %}