{% extends "_layouts/cp" %}

{% set bodyClass = craft.request.getSegments()|slice(0, 3)|join(' ') %}
{% set subnav = {} %}

{% set formSettings = craft.sproutForms.getSettings() %}
{% if currentUser.can('viewSproutFormsEntries') %}
	{% if formSettings.enableSaveData or formSettings.enableSaveDataPerFormBasis %}

		{% set subnav = {
			entries: {
				label: "Entries"|t,
				url: url('sproutforms/entries')
			}
		} %}

	{% endif %}
{% endif %}

{% if currentUser.can('manageSproutFormsForms') %}
	{% set subnav = subnav|merge({
		forms: {
			label: "Forms"|t,
			url: url('sproutforms/forms')
		}
	}) %}
{% endif %}

{% if currentUser.can('editSproutFormsSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutforms/settings')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}

{% block main %}

  {% if body is defined %}
  	{{ body }}
  {% endif %}

{% endblock %}

{% includeCssResource 'sproutforms/css/sproutforms.css' %}