{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}

{% set crumbs = [
{ label: craft.sproutForms.name, url: url('sproutforms/entries') }
] %}

{% set selectedSidebarItem = craft.request.getSegment(2) %}
{% set sidebar %}

  <nav class="last">
    <ul>
      <li><a href="{{ cpUrl('sproutforms/settings') }}" {% if selectedSidebarItem == 'settings' %}class="sel"{% endif %}>General Settings</a></li>
      <li><a href="{{ cpUrl('sproutforms/examples') }}" {% if selectedSidebarItem == 'examples' %}class="sel"{% endif %}>Examples</a></li>
    </ul>
  </nav>

{% endset %}

{% set content %}

  {{ body }}

  {% set brandAlign = 'center' %}
  {% include 'sproutforms/_partials/brand/footer' %}

{% endset %}

{% includeCssResource "sproutforms/css/brand.css" %}
