{% import _self as sproutForms %}

{# Set the folder that you've placed your form macros in these two key macros (@TODO - might be able to get rid of one of these... ? ) #}

{# Master Input Macro #}
{% macro input(config, inputImport) %}
	{% set inputPath = "_forms/fields/" ~ config.type %}
	
	{% if inputImport is defined %}
	{% set inputImportPath = "_forms/fields/" ~ inputImport %}
	{% endif %}

	{% include inputPath with config|merge({
		path: inputPath,
		inputImportPath: inputImportPath
	}) only %}
{% endmacro %}

{# Master Field Macro #}
{% macro field(config, input, inputImport) %}
	{% set inputPath = "_forms/fields/" ~ input %}
	{% set errorListPath = "_forms/errorList" %}
	{% include "_forms/field" with config|merge({ 
		input: input,
		path: inputPath,
		errorListPath: errorListPath
	}) only %}
{% endmacro %}

{# Error Handling #}
{% macro errorList(errors, path) %}
	{% include path ~ "/errorList" %}
{% endmacro %}



{# Fields #}

{% macro textField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.textInput(config)) }}
{% endmacro %}


{% macro passwordField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.passwordInput(config)) }}
{% endmacro %}


{% macro dateField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.dateInput(config)) }}
{% endmacro %}


{% macro textareaField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.textareaInput(config)) }}
{% endmacro %}


{% macro selectField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.selectInput(config)) }}
{% endmacro %}


{% macro multiselectField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.multiselectInput(config)) }}
{% endmacro %}


{% macro checkboxField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.checkboxInput(config)) }}
{% endmacro %}

{% macro checkboxGroupField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.checkboxGroupInput(config, 'checkbox')) }}
{% endmacro %}


{% macro checkboxSelectField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.checkboxSelectInput(config, 'checkbox')) }}
{% endmacro %}


{% macro radioField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.radioInput(config)) }}
{% endmacro %}


{% macro radioGroupField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.radioGroupInput(config, 'radio')) }}
{% endmacro %}


{% macro fileField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.fileInput(config)) }}
{% endmacro %}


{% macro lightswitchField(config) %}
	{% import _self as sproutForms %}
	{{ sproutForms.field(config, sproutForms.lightswitchInput(config)) }}
{% endmacro %}


{% macro editableTableField(config) %}
	{% import _self as sproutForms %}
	{% set input %}
		{% include path ~ "/fields/editableTable" with config only %}
	{% endset %}
	{{ sproutForms.field(config, input) }}
{% endmacro %}



{# Input Macros #}

{% macro hiddenInput(config) -%}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'hidden' }) %}
	{{ sproutForms.input(config) }}
{%- endmacro %}


{% macro textInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'text' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro passwordInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'password' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro dateInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'date' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro textareaInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'textarea' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro selectInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'select' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro multiselectInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'multiselect' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro checkboxInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'checkbox' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro checkboxGroupInput(config, inputImport) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'checkboxGroup' }) %}
	{{ sproutForms.input(config, inputImport) }}
{% endmacro %}


{% macro checkboxSelectInput(config, inputImport) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'checkboxSelect' }) %}
	{{ sproutForms.input(config, inputImport) }}
{% endmacro %}


{% macro radioInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'radio' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro radioGroupInput(config, inputImport) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'radioGroup' }) %}
	{{ sproutForms.input(config, inputImport) }}
{% endmacro %}


{% macro fileInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'file' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro lightswitchInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'lightswitch' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}


{% macro editableTableInput(config) %}
	{% import _self as sproutForms %}
	{% set config = config|merge({ type: 'editableTable' }) %}
	{{ sproutForms.input(config) }}
{% endmacro %}