{%- set submitValue = (form.submitButtonText ? form.submitButtonText : "Submit") -%}
{%- set submitAction = (form.submitAction ? form.submitAction : "sproutForms/entries/saveEntry") -%}

{% if namespace is not defined %}
	{% set namespace = (form.submitAction is not empty ? '' : 'fields') %}
{% endif %}

{# @TODO - allow this to be controlled by a setting and 
					 also have option to output errors inline  #}
{% if errors %} 
	<ul class="errors">
	{% for error in errors %}
		<li class="error">{{ error }}</li>
	{% endfor %}
	</ul>
{% endif %}
	
{% if form.submitAction %}

<form action="{{ submitAction }}" method="post" accept-charset="UTF-8">

{% else %}

<form method="post" accept-charset="UTF-8">
	<input type="hidden" name="action" value="{{ submitAction }}">
	<input type="hidden" name="handle" value="{{ form.handle }}">

{% endif %}
	
	{% if form.redirectUri %}
	<input type="hidden" name="redirect" value="{{ form.redirectUri }}">
	{% endif %}

	<div class="fields">
	{% namespace namespace %}
	{{ fields | raw }}
	{% endnamespace %}
	</div>
	
	{% include '_macros/submitButton' %}

</form>