{% extends "sproutforms/_layouts/base" %}
{% import "_includes/forms" as forms %}

{# get form and associated fields #}
{% if formId is defined %}
	{% set form = craft.sproutforms.getFormById(formId) %}
	{% if not form %}
		{% exit 404 %}
	{% endif %}
	{% set formName = form.name %}
{% else %}
	{% set formName = 'new' %}
	{% set formId = 0 %}
{% endif %}

{% if craft.request.getSegment('3') == 'new' %}
	{% set title = "New Form" %}
{% else %}
	{% set title = formName %}
{% endif %}

{% set crumbs = [
	{ label: "Sprout Forms"|t, url: url('sproutforms') },
	{ label: formName, url: '' }
] %}

{% set tabs = {
    formEntries: { 
      label: "Entries"|t,
      url: '#tab-entries'
    },
    formFields: { 
      label: "Fields"|t,
      url: '#tab-fields'
    },
    formNotifications: { 
      label: "Notifications"|t,
      url: '#tab-notifications'
    },
    formPublish: { 
      label: "Publish"|t,
      url: '#tab-publish'
    },
    formSettings:    { 
      label: "Settings"|t,
      url: '#tab-settings'
    }
} %}

{% set body %}
<form method="post" action="" accept-charset="UTF-8">
	<input type="hidden" name="action" value="sproutForms/forms/saveForm">
	<input type="hidden" name="redirect" value="sproutforms">
	<input type="hidden" name="id" value="{{ formId }}">
	
	{% include "sproutforms/entries/_index" %}
	{% include "sproutforms/fields/_index" %}
  {% include "sproutforms/notifications/_settings" %}
  {% include "sproutforms/publish/_index" %}
	{% include "sproutforms/settings/_form_settings" %}

</form>
{% endset %}