{% extends "senorform/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% includeJsResource "js/fields.js" %}

{% set body %}	
<table class="data" id="forms">
	<thead>
		<th width="25%">Form Name</th>
		<th width="25%">Handle</th>
		<th width="45%">Edit</th>
		<td class="thin"></td>
	</thead>

	<tbody>
	{% set forms = craft.senorForm.allForms %}
	{% for form in forms %}
	<tr data-id="{{ form.id }}" data-name="{{ form.name|t }}" >
		<td>
			<a href="{{ url('senorform/edit/') }}/{{ form.id }}">
				<strong>{{ form.name }}</strong>
			</a>
		</td>
		<td>
			<code>{{ form.handle }}</code>
		</td>
		<td>
			<a href="{{ url('senorform/edit/') }}/{{ form.id }}#tab-entries" class="soften">
				Entries
			</a> • 
			<a href="{{ url('senorform/edit/') }}/{{ form.id }}#tab-fields" class="soften">
				Fields
			</a> • 
			<a href="{{ url('senorform/edit/') }}/{{ form.id }}#tab-notifications" class="soften">
				Notifications
			</a> • 
			<a href="{{ url('senorform/edit/') }}/{{ form.id }}#tab-settings" class="soften">
				Settings
			</a>
		</td>
		<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
	</tr>
	{% endfor %}
	
	{% if forms|length == 0 %}
		<p>No forms have been created yet. 	<a href="{{ url('senorform/new#tab-settings') }}">Create your first form</a>!</p>
	{% endif %}
	</tbody>
</table>

<div class="buttons">
	<a class="btn submit add icon" href="{{ url('senorform/new#tab-settings') }}">New Form</a>
</div>
{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#forms',
		noObjectsSelector: '#noforms',
		deleteFailMessage: 'All Fields and Entries must be deleted before a Form can be deleted',
		deleteAction: 'senorForm/forms/deleteForm'
	});
{% endset %}
{% includeJs js %}
