{% extends "sproutforms/_layout" %}

{% block content %}	

	<h2>Intermediate</h2>
	<p>This example shows how to build a form using single tag fields.</p>
	<a href="/sproutforms">Back</a>
	<hr/>

	<form method="post" name="form1" action="" accept-charset="UTF-8">	
	    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	    MESSAGING
	    Error/success message set during submission processing will be displayed here.
	    ~ #}
	    {{ craft.sproutforms.msg() }}	    
	    
	    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	    HIDDEN FORM FIELDS
		These hidden fields must be present in every form.
		action: This will always be sproutForms/public/post
		redirect: The page/url to which the user should be redirected upon form submission
		handle: Form handle, as defined in the form settings section in the admin panel
		~ #}
	    <input type="hidden" name="action" value="sproutForms/public/post">
	    <input type="hidden" name="redirect" value="sproutforms/example_2">
	    <input type="hidden" name="handle" value="example">	    

	    <ul>
        {{ craft.sproutForms.displayField('example.examplePlainText') }}		
		{{ craft.sproutForms.displayField('example.exampleDropdown') }}
		</ul>
			   			
		<br/><input type="submit" value="Register">
	</form>
	
{% include "sproutforms/_css" %}	
{% endblock %}