{% extends "sproutforms/_layout" %}

{% block content %}	

	<h2>Intermediate</h2>
	<p>This example shows how to build a form using single tag fields.</p>
	<a href="/sproutforms">Back</a>
	<hr/>
	
	{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MESSAGING
    Error/success message set during submission processing will be displayed here.
    ~ #}
    {{ craft.sproutforms.msg() }}	
	
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    INSTANTIATION
    Get an instance of the 'example' form.
    NOTE:  Instantiation in this example is NOT necessary UNLESS you want to use errors object
    to display errors, as shown below
    ~ #}
    {% set exampleForm = craft.sproutforms.getFormFields('example') %}
    
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ERRORS
    Individual errors can be accessed through the errors object.
    ~ #}
    {% if exampleForm.errors.all %}
    <div class="all-errors">
            {% for error in exampleForm.errors.all %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
    </div>
    {% endif %}

	<form method="post" name="form1" action="" accept-charset="UTF-8">	
	    
	    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	    HIDDEN FORM FIELDS
		These hidden fields must be present in every form.
		action: This will always be sproutForms/entries/saveEntry
		redirect: The page/url to which the user should be redirected upon form submission
		handle: Form handle, as defined in the form settings section in the admin panel
		~ #}
	    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	    <input type="hidden" name="redirect" value="sproutforms/example_2">
	    <input type="hidden" name="handle" value="example">	    

	    <ul>
        {{ craft.sproutForms.displayField('example.examplePlainText') }}		
		{{ craft.sproutForms.displayField('example.exampleDropdown') }}
		</ul>
			   			
		<br/><input type="submit" value="Register">
	</form>
	
{% include "sproutforms/_css" %}	
{% endblock %}