{% extends "sproutforms/_layout" %}

{% block content %}	

	<h2>Advanced</h2>
	<p>This example shows how to build a form using individual fields and their properties.</p>
	<a href="/sproutforms">Back</a>
	<hr/>
	
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    INSTANTIATION
    Get an instance of the 'example' form.
    ~ #}
    {% set exampleForm = craft.sproutforms.getFormFields('example') %}
    
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MESSAGING
    Error/success message set during submission processing will be displayed here.
    ~ #}
    {{ craft.sproutforms.msg() }}	
    
    {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ERRORS
    Individual errors can be accessed through the errors object.
    ~ #}
    {% if exampleForm.errors.all %}
    <div class="all-errors">
            {% for error in exampleForm.errors.all %}
                <div class="field-error">{{ error }}</div>
            {% endfor %}
    </div>
    {% endif %}


	<form method="post" name="form1" action="" accept-charset="UTF-8">
    
		{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		HIDDEN FORM FIELDS
		These hidden fields must be present in every form.
		action: This will always be sproutForms/entries/saveEntry
		redirect: The page/url to which the user should be redirected upon form submission
		handle: Form handle, as defined in the form settings section in the admin panel
		~ #}
	    <input type="hidden" name="action" value="sproutForms/entries/saveEntry">
	    <input type="hidden" name="redirect" value="sproutforms/example_3">
	    <input type="hidden" name="handle" value="example">	    
	    
		
		{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		FORM FIELDS
		Each form field has the following variables available, which are defined in the form 
		field section of the admin panel:
		* name - Form name
		* html - Html output of the field type (PlainText, Dropdown, etc.)
		* instructions - Field instructions
		* error - displays the field error, if any
		In addition to these, each field may have specific properties available.  For example, 
		PlainText also has a placeholder and maxLength.
		~ #}
		{{ exampleForm.examplePlainText.label }}: 
		{{ exampleForm.examplePlainText.input | raw }} 
		{{ exampleForm.examplePlainText.instructions }}		
		{{ exampleForm.examplePlainText.error | raw }}	
		
		{# Below is an alternative way to display errors, providing more control over; uncomment to use #}		
		{#
        {% if exampleForm.errors.examplePlainText %}
                {% for error in exampleForm.errors.examplePlainText %}
                    <div class="field-error">{{ error }}</div>
                {% endfor %}
        {% endif %}
        #}
				
		<br/>
		
		{{ exampleForm.exampleDropdown.label }}: 
		{{ exampleForm.exampleDropdown.input | raw }} 
		{{ exampleForm.exampleDropdown.instructions }}		
		{{ exampleForm.exampleDropdown.error | raw }}
			   			
		<br/><input type="submit" value="Register">
	</form>
	
{% include "sproutforms/_css" %}	
{% endblock %}