	{%- for tab in tabs -%}

		{%- set layoutFields = tab.getFields() %}

		<div class="tab">

			{% if displaySectionTitles -%}
				<h3>{{ tab.name|t }}</h3>
			{%- endif %}

			{% for layoutField in layoutFields -%}
				{%- set field = layoutField -%}
				{%- set type  = craft.sproutforms.getFieldClass(field) %}
				{%- set formField = craft.sproutforms.getRegisteredField(type) -%}

				{%- if formField -%}
					{% include "field" with {
						form:                 form,
						field:                field,
						element:              entry,
						required:             required,
						formField:            formField,
						renderingOptions:     renderingOptions,
						thirdPartySubmission: thirdPartySubmission,
					} only %}
				{%- endif %}
			{%- endfor %}

		</div>

	{%- endfor -%}