{%- set sett         = settings -%}
{%- set class        = opts.class is defined ? opts.class : 'multiselect' %}
{%- set opts         = renderingOptions is defined ? renderingOptions : {} -%}
{%- set data         = (opts.data is defined ? opts.data : null) %}
{%- set options      = (sett.options is defined ? sett.options : []) %}
{%- set values       = (value is defined ? value : []) -%}
{%- set id           = name -%}


<select multiple
	{%- if field.required is defined and field.required %} required {% endif %}
	{%- if id is defined %} id="{{ id }}"{% endif %}
	{%- if class is defined %} class="{{class}}" {% endif %}
	{%- if name is defined and name %} name="{{ name }}[]"{% endif %}
	{%- if disabled is defined and disabled %} disabled{% endif %}
	{%- if size is defined %} size="{{ size }}"{% endif %}
	{% for key,value in data %}
		 {{ 'data-'~key~'='~value }}
	{% endfor %}>
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		<option value="{{ optionValue }}"{% if optionValue in values %} selected{% endif %}>{{ optionLabel }}</option>
	{%- endfor %}
</select>