{% import "_includes/forms" as forms %}

{% if field is not defined and fieldId is defined %}
	{% set field = craft.fields.getFieldById(fieldId) %}
	{% if not field %}
		{% exit 404 %}
	{% endif %}
{% endif %}

{% set fieldTypes = craft.sproutforms.getRegisteredFields() %}
{% set fieldTypeGroups = craft.sproutforms.prepareFieldTypeSelection() %}

<input type="hidden" name="formId" value="{{ formId }}">

{% if fieldId is defined %}
	<input type="hidden" name="fieldId" value="{{ fieldId }}">
{% endif %}

{% if sections is defined and sections|length %}

	{% set sectionOptions = [] %}

	{% for section in sections %}
		{% set sectionOptions = sectionOptions|merge([{ label: section.name, value: section.id }]) %}
	{% endfor %}

	{{ forms.selectField({
		first: true,
		required: true,
		label: "Tab"|t('sprout-forms'),
		instructions: "Which section should this field be displayed in?"|t('sprout-forms'),
		id: 'tabId',
		name: 'tabId',
		options: sectionOptions,
		value: tabId
	}) }}

{% endif %}

{{ forms.textField({
	label: "Name"|t('sprout-forms'),
	instructions: "The user-friendly name of your field."|t('sprout-forms'),
	id: 'field-name',
	name: 'name',
	value: (field is defined ? field.name : null),
	errors: (field is defined ? field.getErrors('name') : null),
	required: true,
	translatable: true,
	autofocus: true,
	first: true
}) }}

{{ forms.textField({
	label: "Handle"|t('sprout-forms'),
	instructions: "How you’ll refer to this field in the templates."|t('sprout-forms'),
	id: 'field-handle',
	class: 'code',
	name: 'handle',
	maxlength: 64,
	value: (field is defined ? field.handle : null),
	errors: (field is defined ? field.getErrors('handle') : null),
	required: true,
}) }}

{{ forms.textareaField({
	label: "Instructions"|t('sprout-forms'),
	instructions: "Helper text to guide the author."|t('sprout-forms'),
	id: 'instructions',
	class: 'nicetext',
	name: 'instructions',
	value: (field is defined ? field.instructions : null),
	errors: (field is defined ? field.getErrors('instructions') : null),
	translatable: true
}) }}

<hr>

{{ forms.selectField({
	label: "Field Type"|t('sprout-forms'),
	instructions: "What type of field is this?"|t('sprout-forms') ~ (fieldId is defined ? '<br><span class="error">'~"Careful—changing this may result in data loss."|t('sprout-forms')~'</span>' : ''),
	id: 'type',
	name: 'type',
	hasOptgroups: true,
	options: fieldTypeGroups,
	value: className(field),
	errors: field.getErrors('type') ?? null,
	toggle: true
}) }}

{% for type,fieldObject in fieldTypes %}
	{% set isCurrent = type == className(field) %}
	<div id="{{ type|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
		{% namespace 'types['~type~']' %}
			{% set _field = isCurrent ? field : craft.app.fields.createField(type) %}
			{{ _field.getSettingsHtml()|raw }}
		{% endnamespace %}
	</div>
{% endfor %}

{% if field is empty or field.handle is empty %}
	{% js %}
		new Craft.HandleGenerator('#field-name', '#field-handle');
	{% endjs %}
{% endif %}
