{% extends "sprout-forms/_layouts/elementindex" %}
{% set title = "Forms"|t %}
{% set elementType = 'barrelstrength\\sproutforms\\elements\\Form' %}

{% set groups = craft.sproutforms.getAllFormGroups('id') %}

{% if groupId is defined %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}
{% endif %}

{% block actionButton  %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sprout-forms/forms/new') }}">{{ "New Form"|t('sprout-forms') }}</a>
	</div>
{% endblock %}

{% block sidebar %}

	{% set customizableSources = false %}

  {{ parent() }}

	<div class="buttons">
		<div id="newgroupbtn" class="btn add icon">{{ "New Group"|t }}</div>
		<div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings'|t }}"></div>
		<div class="menu">
			<ul>
				<li><a data-action="rename" role="button">{{ "Rename selected group"|t }}</a></li>
				<li><a data-action="delete" role="button">{{ "Delete selected group"|t }}</a></li>
			</ul>
		</div>
	</div>

{% endblock %}

{% do view.registerAssetBundle("barrelstrength\\sproutforms\\web\\assets\\groups\\GroupsAsset") %}
