{%- set type           = field.type|lower %}
{%- set data           = renderingOptions.data is defined ? renderingOptions.data : null %}
{%- set id             = renderingOptions.id is defined ? renderingOptions.id : name %}
{%- set class          = renderingOptions.class is defined ? renderingOptions.class : name %}
{%- set value          = value is defined ? value : null %}
{%- set required       = field.required is defined and field.required ? " required" %}
{%- set multiple       = settings.limit == '' ? true : settings.limit > 1 ? true : false %}
{%- set selectionLabel = settings.selectionLabel != '' ? settings.selectionLabel : "Select an entry..."|t -%}
{%- set hasTitle       = entries|length > 1 %}

{%- set dataAttributes = null %}
{%- for key, dataValue in data %}
	{%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{%- endfor -%}


{% spaceless %}
<select {%- if multiple %} multiple {% endif %}
	{%- if id %} id="{{ id }}"{% endif %}
	{%- if class %} class="{{ class }}"{% endif %}
	{%- if name %} name="{{ name }}[]"{% endif %}
	{{- required -}}
	{{- dataAttributes|raw -}}
	>
	{%- if not multiple -%}
		<option value="" disabled selected>{{ selectionLabel }}</option>
	{%- endif -%}
	{%- for options in entries -%}
		{% if hasTitle %}
			{% set label = options.singles is defined ? 'Singles' : options.section.name %}
			<optgroup label="{{label}}">
		{% endif %}
			{%- for option in options.entries -%}
				{% set section = craft.sections.getSectionById(option.sectionId) %}
				{%- set optionLabel = options.singles is defined ? section.name : option.title -%}
				{%- set optionValue =  option.id -%}

				<option value="{{ optionValue }}" {% if optionValue == value %}selected{% endif %}>{{ optionLabel }}</option>

			{% endfor %}
		{% if hasTitle %}
			</optgroup>
		{% endif %}
	{% endfor %}
</select>
{% endspaceless %}