{% extends "sproutforms/_layouts/settings" %}

{% set title = "Entry Statuses"|t %}

{% set content %}

	{% if entryStatuses|length %}
		<table id="entryStatuses" class="data fullwidth collapsible">
			<thead>
				<tr>
					<th scope="col">{{ "Name"|t }}</th>
					<th scope="col">{{ "Handle"|t }}</th>
					<th scope="col">{{ "Default Status"|t }}
					<td class="thin"></td>
					<td class="thin"></td>
				</tr>
			</thead>
			<tbody>
				{% for entryStatus in entryStatuses %}
					<tr data-id="{{ entryStatus.id }}" data-name="{{ entryStatus.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('sproutforms/settings/entrystatuses/' ~ entryStatus.id) }}">{{ entryStatus.htmlLabel|raw }}</a></th>
						<td data-title="{{ 'Handle'|t }}" class="code">{{ entryStatus.handle }}</td>
						<td>{% if entryStatus.isDefault %}<span data-icon="check" title="{{ 'Yes'|t }}"></span>{% endif %}</td>
						<td><td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>
						<td class="thin">
							{% if entryStatus.id not in [1,2] %}
								<a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a id="newentrystatus" href="{{ url('sproutforms/settings/entrystatuses/new') }}" class="btn submit add icon">
			{{ "New Entry Status"|t }}
		</a>
	</div>
{% endset %}

{% includejs %}
	new Craft.AdminTable({
			tableSelector: '#entryStatuses',
			newObjectBtnSelector: '#newentrystatus',
			deleteAction: 'sproutForms/entryStatuses/delete',
			minObjects: 1,
			sortable: true,
			reorderAction: 'sproutForms/entryStatuses/reorder',
			reorderSuccessMessage: Craft.t('Entry statuses reordered.'),
			reorderFailMessage:    Craft.t('Couldn’t reorder statuses..'),
			confirmDeleteMessage: '{{ "Are you sure you want to delete the Entry Status “{name}”?"|t }}',
			deleteFailMessage: '{{ "Unable to delete status. Please remove this status from all Form Entries first."|t }}'
	});
{% endincludejs %}

