<div class="sproutforms-exampleinput-customhtml">

    <div class="customhtml-icon">{{ svg('@sproutbaseicons/code.svg') }}</div>
    <p>{{ "This field will display your Custom HTML on your front-end form."|t('sprout-forms') }}</p>

</div>