{% set tableData = [] %}
{% if entryStatuses|length %}
    {% for entryStatus in entryStatuses %}

        {% set cpEditUrl = cpUrl('sprout-forms/settings/entry-statuses/' ~ entryStatus.id) %}
        {% set showDelete = entryStatus.isDefault or entryStatus.handle == 'spam' ? false : true %}

        {% set tableData = tableData|merge([{
            id: entryStatus.id,
            labelHtml: {
                url: cpEditUrl,
                color: entryStatus.color,
                name: entryStatus.name
            },
            title: entryStatus.name|t('sprout-forms')|e,
            url: cpEditUrl,
            handle: entryStatus.handle,
            isDefault: entryStatus.isDefault,
            _showDelete: showDelete
        }]) %}

    {% endfor %}
{% endif %}

<h2>{{ "Entry Statuses"|t('sprout-forms') }}</h2>
<p>{{ "Define the statuses that can be set on form entries once they’ve been completed."|t('sprout-forms') }}</p>

<div id="entry-statuses-admin-table"></div>

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{# @todo - Not yet supported: deleteFailMessage
    "Unable to delete status. Please remove this status from all Form Entries first."
     Also no way to disable a particular row from being deleted. Ideally we could just hide the delete button. #}
{% js %}
    var columns = [
    {
    name: 'labelHtml',
    title: Craft.t('sprout-forms', 'Name'),
    callback: function(value) {
    return '<a class="cell-bold sproutFormsStatusLabel" href="' + value.url + '"><span class="status ' + value.color + '"></span>' + value.name + '</a>';
    }
    },
    {
    name: '__slot:handle',
    title: Craft.t('sprout-forms', 'Handle')
    },
    {
    name: 'isDefault',
    title: Craft.t('sprout-forms', 'Default Status'), callback: function(value) {
    if (value) {
    return '<span data-icon="check" title="' + Craft.t('sprout-forms', 'Yes') + '"></span>';
    }
    return '';
    }
    }
    ];

    new Craft.VueAdminTable({
    columns: columns,
    container: '#entry-statuses-admin-table',
    deleteAction: 'sprout-forms/entry-statuses/delete',
    deleteConfirmationMessage: Craft.t('sprout-forms', "Are you sure you want to delete the Entry Status “{name}”?"),
    deleteSuccessMessage: Craft.t('sprout-forms', "Entry status deleted"),
    deleteFailMessage: Craft.t('sprout-forms', "Unable to delete status. Status must not be used on existing entries."),
    emptyMessage: Craft.t('sprout-forms', 'No entry statuses exist yet.'),
    minItems: 2,
    padded: true,
    reorderAction: 'sprout-forms/entry-statuses/reorder',
    reorderSuccessMessage: Craft.t('sprout-forms', 'Entry statuses reordered.'),
    reorderFailMessage: Craft.t('sprout-forms', 'Couldn’t reorder statuses.'),
    tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
