{%- set value = (value is defined ? value : '1') -%}

<label>
	<input type="radio" value="{{ value }}"
		{% if field.required is defined and field.required %} required {% endif %}
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if class is defined %} class="{{ class }}"{% endif %}
		{%- if name is defined %} name="{{ name }}"{% endif %}
		{%- if checked is defined and checked %} checked{% endif %}
		{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
		{%- if disabled is defined and disabled %} disabled{% endif %}
		{% for key,value in data %}
			{{ 'data-'~key~'='~value }}
		{% endfor %}>
	{% if label is defined %}{{ label|raw }}{% endif %}
</label>
