{% extends "sproutforms/_layouts/base" %}

{% set crumbs = [
	{ label: craft.sproutForms.name|t, url: url('sproutforms') },
	{ label: "Entries"|t, url: url('sproutforms/entries') },
] %}

{% set title = 'Edit Entry' %}

{% set body %}

	<form method="post" accept-charset="UTF-8" enctype="multipart/form-data" data-saveshortcut="1">
		<input type="hidden" name="action" value="sproutForms/entries/saveEntry">
		<input type="hidden" name="handle" value="{{ form.handle }}">
		<input type="hidden" name="entryId" value="{{ entryId }}">

		{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}
		
		{% namespace namespace %}	
			{% for field in fields %}
				{% include "_includes/field" with {
					field:    field.getField(),
					required: field.required,
					element:  entry,
					static:   (static is defined ? static : null)
				} only %}
			{% endfor %}
		{% endnamespace %}

		<div class="buttons">
			<input class="btn submit" type="submit" value="Save">
		</div>

		<p>
		  <input type="button" class="btn small formsubmit" value="Delete" data-action="sproutForms/entries/deleteEntry" data-confirm="Are you sure you want to delete this entry and all of it's data?" data-redirect="sproutforms/entries">
		</p>
	
	</form>

{% endset %}