{% set entries = craft.sproutforms.getAllEntries(formId) %}
{% set fields = craft.sproutforms.getFields(formId) %}

{% set yesterday = now|date_modify("-1 day") %}

<div id="tab-entries">

	{% if entries|length %}
	
	<div class="entries-container">
		<table id="entries" class="results">
			<thead>
				<th class="left-border"><div></div></th>
				<th class="date"><div><h3>Date</h3></div></th>	
				<th class="padding"><div></div></th>			
				{% for field in fields %}
				<th><div><h3>{{ field.name }}</h3></div></th>
				{% endfor %}				
				<th class="thin delete"><div></div></th>
			</thead>		
			<tbody>				
				{% for entry in entries %}
				<tr data-id="{{ entry.id }}" data-name="entry from {{ entry.dateCreated|date('F d, Y h:m A')|t }}" >
					<td class="left-border"><div></div></td>
					<td class="date">
						<a href="{{ url('sproutforms/entries/view/') }}/{{ entry.id }}">
							{% if entry.dateCreated|date('F d, Y') == now.format('F d, Y') %}
								<strong>Today</strong>
								{{ entry.dateCreated|date('g:i A') }}
							{% elseif entry.dateCreated|date('F d, Y') == yesterday.format('F d, Y') %}
								
								<strong>Yesterday</strong>
								{{ entry.dateCreated|date('g:i A') }}
							{% else %}
								<strong>{{ entry.dateCreated|date('F d, Y') }}</strong>
								{{ entry.dateCreated|date('g:i A') }}
							{% endif %}
						</a>
					</td>
					<td class="padding"></td>	
					{% for field in fields %}
					<td class="field">
						<a href="{{ url('sproutforms/entries/view/') }}/{{ entry.id }}">
						{{ craft.sproutforms.getFieldEntry(formId,field,entry) | raw }}
						</a>
					</td>
					{% endfor %}					
					<td class="thin delete"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% else %}

	<div style="width:40%;">

	 	<h2>Publish your form and begin sharing!</h2>

	 	<p>Looks like you have a form, but need to get the word out. To publish your form on your website, refer to the quick code snippets on the Publish tab, or to the docs for a more comprehensive overview of how to customize your forms.</p>

	 	<div class="buttons"> 
			<a class="btn submit icon" href="#" onclick="jQuery('#tab-formPublish').click();return false;" >Publish Your Form &raquo;</a>
		</div>

	</div>

	{% endif %}

</div>


{% set js %}
	new Craft.AdminTable({
		tableSelector: '#entries',
		noObjectsSelector: '#noentries',
		deleteAction: 'sproutForms/content/deleteContent'
	});
{% endset %}
{% includeJs js %}

{% includeCssResource "sproutforms/css/jquery.scrollpane.css" %}
{% includeCssResource "sproutforms/css/styles.css" %}

{% includeJsResource "sproutforms/js/jquery.jscrollpane.min.js" %}
{% includeJsResource "sproutforms/js/jquery.mousewheel.js" %}
{% includeJsResource "sproutforms/js/scripts.js" %}