{% extends "senorform/_layouts/base" %}

{% set entry = craft.senorform.getEntryById(entryId) %}

{% set title = "Submitted Data for Form:  " ~ entry.form.name %}

{% set crumbs = [
	{ label: "Señor Form"|t, url: url('senorform') },
	{ label: entry.form.name, url: url('senorform/edit/' ~ entry.form.id) },
	{ label: entry.id, url: url('senorform/entries/view/' ~ entry.form.id) }
] %}


{% set body %}

<p>The following entry was submitted on {{ entry.dateCreated.nice }}</p>

    <table>

      {% for entry in entry.form.field %}
      <tr>
        <td style="padding-bottom:10px;width:600px;">
            
            <strong>{{ entry.name }}</strong><br>
            
            {% set entry_content = entry.getContent() %}

            {% if entry_content[0] is not defined %}
              {{ entry_content }}
            {% else %}
              <ul style="margin-left:0;">
              {% for item in entry_content %}
                <li>{{ item }}</li>
              {% endfor %}
              </ul>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

{% endset %}