{% extends "sproutforms/_layout" %}

{% block content %}	

<h1>Example Contact Form</h1>

<p>Below, we have created several different example templates to illustrate different ways you can output your forms in your templates.</p>

<hr> 

<ul class="examples">
	<li>
		<a href="/sproutforms/examples/complete-form">Complete Form</a><br/>
		Output your form using a single tag.
	</li>
	<li>
		<a href="/sproutforms/examples/field-by-field">Field by field</a><br/>
		Output your form field by field, using field tags.
	</li>
	<li>
		<a href="/sproutforms/examples/field-by-field-details">Field detail by field detail</a><br/>
		Output your form field by field, with control over each of your field's settings.
	</li>
	<li>
		<a href="/sproutforms/examples/custom-html">Custom HTML</a><br/>
		Build your form in pure HTML and have it submit to Sprout Forms.
	</li>
	<li>
		<a href="/sproutforms/examples/multiple-forms">Multiple forms</a><br/>
		Output multiple forms on a single page.
	</li>
</ul>
		
{% endblock %}