{%- for tab in tabs -%}

    {%- set layoutFields = tab.getFields() %}

    <section class="tab">

        {% if displaySectionTitles -%}
            <h3>{{ tab.name|t }}</h3>
        {%- endif %}

        {% for layoutField in layoutFields -%}
            {%- set field = layoutField -%}
            {% include "field" with {
                form:                 form,
                field:                field,
                element:              entry,
                required:             field.required,
                renderingOptions:     renderingOptions,
                thirdPartySubmission: thirdPartySubmission,
            } only %}
        {%- endfor %}

    </section>

{%- endfor -%}